In [69]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime as dt

In [70]:
tenants = "Tenant_History.csv"
tenants_df = pd.read_csv(tenants)
tenants_df.head()

,Property_Code,Ref_Property_ID,Date,Tenant_Code,Ext_Ref_Tenant_Id,Event,DateOccurred,Unit_Code,Ref_Unit_Id,DateApply,...,DateNotice,RentedEvent,UnRentedEvent,Status,Rent,Deposit,Sqft,Notes,Reason,MTM
0,ce,NaN,1/1/2015,t0013745,NaN,Notice Given,1/5/2015,C05266,NaN,11/9/2006,...,1/1/2015,0,0,4,896.0,300.0,0.0,Cannot Afford Apartment,NaN,-1.0
1,ce,NaN,1/31/2015,t0013745,NaN,Move Out,2/2/2015,C05266,NaN,11/9/2006,...,1/1/2015,0,0,1,896.0,300.0,0.0,Move Out,NaN,-1.0
2,ce,NaN,2/5/2015,t0013745,NaN,Deposit Change,2/5/2015,C05266,NaN,11/9/2006,...,1/1/2015,0,0,1,896.0,0.0,0.0,NaN,NaN,-1.0
3,ce,NaN,2/5/2015,t0013745,NaN,Deposit Accounting,2/5/2015,C05266,NaN,11/9/2006,...,1/1/2015,0,0,1,896.0,0.0,0.0,NaN,NaN,-1.0
4,ce,NaN,2/5/2015,t0013745,NaN,Adjust Deposit Accounting,2/5/2015,C05266,NaN,11/9/2006,...,1/1/2015,0,0,1,896.0,0.0,0.0,NaN,NaN,-1.0

In [71]:
tenants_df = tenants_df.drop(columns = ["Ref_Property_ID", "Ext_Ref_Tenant_Id", "Ref_Unit_Id", "Date"])

In [72]:
tenants_df["DateOccurred"] = pd.to_datetime(tenants_df["DateOccurred"], format= '%m/%d/%Y')
tenants_df["DateApply"] = pd.to_datetime(tenants_df["DateApply"], format= '%m/%d/%Y')
tenants_df["DateApprove"] = pd.to_datetime(tenants_df["DateApprove"], format= '%m/%d/%Y')
tenants_df["DateSign"] = pd.to_datetime(tenants_df["DateSign"], format= '%m/%d/%Y')
tenants_df["DateMoveIn"] = pd.to_datetime(tenants_df["DateMoveIn"], format= '%m/%d/%Y')
tenants_df["DateMoveOut"] = pd.to_datetime(tenants_df["DateMoveOut"], format= '%m/%d/%Y')
tenants_df["DateLeaseFrom"] = pd.to_datetime(tenants_df["DateLeaseFrom"], format= '%m/%d/%Y')
tenants_df["DateLeaseTo"] = pd.to_datetime(tenants_df["DateLeaseTo"], format= '%m/%d/%Y')
tenants_df["DateNotice"] = pd.to_datetime(tenants_df["DateNotice"], format= '%m/%d/%Y')
tenants_df["Length of Stay"]= tenants_df["DateMoveOut"] - tenants_df["DateMoveIn"]
tenants_df = tenants_df.drop(columns = ["DateApply", "DateApprove", "DateSign", "DateLeaseFrom", "DateLeaseTo", "DateNotice", "RentedEvent", "UnRentedEvent", "Status", "Deposit", "Notes", "Reason", "MTM"])
tenants_df.sort_values(by=["Tenant_Code"])
tenants_df.columns

Index(['Property_Code', 'Tenant_Code', 'Event', 'DateOccurred', 'Unit_Code',
       'DateMoveIn', 'DateMoveOut', 'Rent', 'Sqft', 'Length of Stay'],
      dtype='object')

In [73]:
def vacancy (row):
    if row["Event"] == "Move Out":
        return 1
    elif row["Event"] == "Move In":
        return 0
    else:
        return 0
    
tenants_df ["Vacancy"] = tenants_df.apply(vacancy, axis = 1) 
tenants_df ["Vacancy"] = tenants_df.Vacancy.astype(int)
tenants_df

,Property_Code,Tenant_Code,Event,DateOccurred,Unit_Code,DateMoveIn,DateMoveOut,Rent,Sqft,Length of Stay,Vacancy
0,ce,t0013745,Notice Given,2015-01-05,C05266,2006-11-09,2015-02-28,896.0,0.0,3033 days,0
1,ce,t0013745,Move Out,2015-02-02,C05266,2006-11-09,2015-01-31,896.0,0.0,3005 days,1
2,ce,t0013745,Deposit Change,2015-02-05,C05266,2006-11-09,2015-01-31,896.0,0.0,3005 days,0
3,ce,t0013745,Deposit Accounting,2015-02-05,C05266,2006-11-09,2015-01-31,896.0,0.0,3005 days,0
4,ce,t0013745,Adjust Deposit Accounting,2015-02-05,C05266,2006-11-09,2015-01-31,896.0,0.0,3005 days,0
5,ce,t0013745,Adjust Deposit Accounting,2015-02-10,C05266,2006-11-09,2015-01-31,896.0,0.0,3005 days,0
6,ce,t0013745,Deposit Change,2013-04-17,C05266,2006-11-09,NaT,870.0,0.0,NaT,0
7,ce,t0013745,Deposit Change,2013-04-17,C05266,2006-11-09,NaT,870.0,0.0,NaT,0
8,ce,t0013745,Deposit Change,2013-04-17,C05266,2006-11-09,NaT,870.0,0.0,NaT,0
9,ce,t0013745,Month to Month,2013-04-18,C05266,2006-11-09,NaT,870.0,0.0,NaT,0
10,ce,t0013745,Rent Change,2013-04-26,C05266,2006-11-09,NaT,0.0,0.0,NaT,0
11,ce,t0013745,Rent Change,2013-04-30,C05266,2006-11-09,NaT,870.0,0.0,NaT,0
12,ce,t0013745,120 Day Letter Sent,2014-02-21,C05266,2006-11-09,NaT,870.0,0.0,NaT,0
13,ce,t0013745,Rent Change,2014-05-31,C05266,2006-11-09,NaT,896.0,0.0,NaT,0
14,ce,t0013746,Notice Given,2013-04-17,C05268,2009-10-25,2013-04-30,860.0,0.0,1283 days,0
15,ce,t0013746,Move Out,2013-04-30,C05268,2009-10-25,2013-04-30,860.0,0.0,1283 days,1
16,ce,t0013746,Deposit Change,2013-05-08,C05268,2009-10-25,2013-04-30,860.0,0.0,1283 days,0
17,ce,t0013746,Deposit Accounting,2013-05-08,C05268,2009-10-25,2013-04-30,860.0,0.0,1283 days,0
18,ce,t0013746,Deposit Change,2013-04-17,C05268,2009-10-25,NaT,860.0,0.0,NaT,0
19,ce,t0013746,Deposit Change,2013-04-17,C05268,2009-10-25,NaT,860.0,0.0,NaT,0
20,ce,t0013746,Deposit Change,2013-04-17,C05268,2009-10-25,NaT,860.0,0.0,NaT,0
21,ce,t0013747,Notice Given,2013-07-30,C05270,2012-07-16,2013-08-11,770.0,0.0,391 days,0
22,ce,t0013747,Move Out,2013-08-12,C05270,2012-07-16,2013-08-11,770.0,0.0,391 days,1
23,ce,t0013747,Deposit Change,2013-08-15,C05270,2012-07-16,2013-08-11,770.0,0.0,391 days,0
24,ce,t0013747,Deposit Accounting,2013-08-15,C05270,2012-07-16,2013-08-11,770.0,0.0,391 days,0
25,ce,t0013747,Deposit Change,2013-04-17,C05270,2012-07-16,NaT,770.0,0.0,NaT,0
26,ce,t0013747,Deposit Change,2013-04-17,C05270,2012-07-16,NaT,770.0,0.0,NaT,0
27,ce,t0013747,Deposit Change,2013-04-17,C05270,2012-07-16,NaT,770.0,0.0,NaT,0
28,ce,t0013747,Rent Change,2013-04-26,C05270,2012-07-16,NaT,0.0,0.0,NaT,0
29,ce,t0013747,Rent Change,2013-04-30,C05270,2012-07-16,NaT,770.0,0.0,NaT,0
...,...,...,...,...,...,...,...,...,...,...,...
88312,mpg,tl122655,Submit Application,2018-04-17,1966-03B,2018-05-10,NaT,0.0,0.0,NaT,0
88313,mpg,tl122655,Rent Change,2018-04-17,1966-03B,2018-05-10,NaT,1119.0,0.0,NaT,0
88314,mpg,tl122655,Deposit Change,2018-04-18,1966-03B,2018-05-10,NaT,1119.0,0.0,NaT,0
88315,mpg,tl122655,Lease Signed,2018-04-19,2006-11A,2018-05-10,NaT,1119.0,0.0,NaT,0
88316,mpg,tl122655,Assign Unit (From 1966-03B to 2006-11A),2018-04-19,2006-11A,2018-05-10,NaT,1119.0,0.0,NaT,0
88317,mpg,tl122655,Adjust Move In Dates,2018-04-27,2006-11A,2018-05-11,NaT,1119.0,0.0,NaT,0
88318,mpg,tl122655,Move In,2018-05-12,2006-11A,2018-05-11,NaT,1119.0,0.0,NaT,0
88319,mpg,tl122655,Deposit Change,2018-05-14,2006-11A,2018-05-11,NaT,1119.0,0.0,NaT,0
88320,mpg,tl122655,Deposit Change,2018-06-18,2006-11A,2018-05-11,NaT,1119.0,0.0,NaT,0
88321,mpg,tl122981,Application Approved,2018-04-23,1968-07B,2018-06-04,NaT,1119.0,0.0,NaT,0
88322,mpg,tl122981,Submit Application,2018-04-20,1968-07B,2018-06-04,NaT,0.0,0.0,NaT,0
88323,mpg,tl122981,Rent Change,2018-04-20,1968-07B,2018-06-04,NaT,1119.0,0.0,NaT,0
88324,mpg,tl122981,Deposit Change,2018-04-20,1968-07B,2018-06-04,NaT,1119.0,0.0,NaT,0
88325,mpg,tl122981,Deposit Change,2018-04-23,1968-07B,2018-06-04,NaT,1119.0,0.0,NaT,0
88326,mpg,tl122981,Lease Signed,2018-04-23,1968-07B,2018-06-04,NaT,1119.0,0.0,NaT,0
88327,mpg,tl122981,Cancel Move In,2018-05-03,1968-07B,NaT,NaT,1119.0,0.0,NaT,0
88328,mpg,tl122981,Deposit Change,2018-05-09,1968-07B,NaT,NaT,1119.0,0.0,NaT,0
88329,mpg,tl122981,Deposit Accounting,2018-05-09,1968-07B,NaT,NaT,1119.0,0.0,NaT,0
88330,fh,tl127278,Application Approved,2018-06-16,1122AB,2018-06-15,NaT,1135.0,0.0,NaT,0
88331,fh,tl127278,Submit Application,2018-06-15,1035A,2018-06-15,NaT,0.0,0.0,NaT,0
88332,fh,tl127278,Deposit Change,2018-06-15,1035A,2018-06-15,NaT,0.0,0.0,NaT,0
88333,fh,tl127278,Rent Change,2018-06-16,1122AB,2018-06-15,NaT,1135.0,0.0,NaT,0
88334,fh,tl127278,Assign Unit (From 1035A to 1122AB),2018-06-16,1122AB,2018-06-15,NaT,1135.0,0.0,NaT,0
88335,fh,tl127278,Adjust Move In Dates,2018-06-22,1102AB,2018-06-19,NaT,1135.0,0.0,NaT,0
88336,fh,tl127278,Move In,2018-06-22,1102AB,2018-06-19,NaT,1135.0,0.0,NaT,0
88337,fh,tl127278,Adjust Lease End Dates,2018-06-22,1102AB,2018-06-19,NaT,1135.0,0.0,NaT,0
88338,fh,tl127278,Deposit Change,2018-06-26,1102AB,2018-06-19,NaT,1135.0,0.0,NaT,0
88339,fh,tl127278,Deposit Change,2018-06-26,1102AB,2018-06-19,NaT,1135.0,0.0,NaT,0
88340,fh,tl127278,Lease Signed,2018-06-16,1122AB,2018-06-23,NaT,1135.0,0.0,NaT,0
88341,fh,tl127278,Assign Unit (From 1122AB to 1102AB),2018-06-18,1102AB,2018-06-23,NaT,1135.0,0.0,NaT,0

In [74]:
rent_change_tenants = tenants_df.loc[tenants_df["Event"].isin(["Rent Change"])]
rent_change_tenants.reset_index(drop = True)

,Property_Code,Tenant_Code,Event,DateOccurred,Unit_Code,DateMoveIn,DateMoveOut,Rent,Sqft,Length of Stay,Vacancy
0,ce,t0013745,Rent Change,2013-04-26,C05266,2006-11-09,NaT,0.0,0.0,NaT,0
1,ce,t0013745,Rent Change,2013-04-30,C05266,2006-11-09,NaT,870.0,0.0,NaT,0
2,ce,t0013745,Rent Change,2014-05-31,C05266,2006-11-09,NaT,896.0,0.0,NaT,0
3,ce,t0013747,Rent Change,2013-04-26,C05270,2012-07-16,NaT,0.0,0.0,NaT,0
4,ce,t0013747,Rent Change,2013-04-30,C05270,2012-07-16,NaT,770.0,0.0,NaT,0
5,ce,t0013748,Rent Change,2013-04-26,C05272,2012-09-28,NaT,0.0,0.0,NaT,0
6,ce,t0013748,Rent Change,2013-04-30,C05272,2012-09-28,NaT,770.0,0.0,NaT,0
7,ce,t0013748,Rent Change,2013-09-30,C05272,2012-09-28,NaT,800.0,0.0,NaT,0
8,ce,t0013748,Rent Change,2014-11-01,C05272,2012-09-28,NaT,824.0,0.0,NaT,0
9,ce,t0013749,Rent Change,2013-04-26,C05274,2008-11-26,NaT,0.0,0.0,NaT,0
10,ce,t0013749,Rent Change,2013-04-30,C05274,2008-11-26,NaT,880.0,0.0,NaT,0
11,ce,t0013749,Rent Change,2013-10-31,C05274,2008-11-26,NaT,1795.0,0.0,NaT,0
12,ce,t0013749,Rent Change,2013-12-01,C05274,2008-11-26,NaT,880.0,0.0,NaT,0
13,ce,t0013749,Rent Change,2013-12-31,C05274,2008-11-26,NaT,915.0,0.0,NaT,0
14,ce,t0013749,Rent Change,2015-03-01,C05274,2008-11-26,NaT,924.0,0.0,NaT,0
15,ce,t0013749,Rent Change,2016-02-29,C05274,2008-11-26,NaT,970.0,0.0,NaT,0
16,ce,t0013749,Rent Change,2018-02-28,C05274,2008-11-26,NaT,1044.0,0.0,NaT,0
17,ce,t0013750,Rent Change,2013-04-26,C05276,2001-07-21,NaT,0.0,0.0,NaT,0
18,ce,t0013750,Rent Change,2013-04-30,C05276,2001-07-21,NaT,880.0,0.0,NaT,0
19,ce,t0013750,Rent Change,2013-06-30,C05276,2001-07-21,NaT,890.0,0.0,NaT,0
20,ce,t0013750,Rent Change,2014-06-30,C05276,2001-07-21,NaT,917.0,0.0,NaT,0
21,ce,t0013750,Rent Change,2015-06-30,C05276,2001-07-21,NaT,945.0,0.0,NaT,0
22,ce,t0013750,Rent Change,2016-06-30,C05276,2001-07-21,NaT,999.0,0.0,NaT,0
23,ce,t0013751,Rent Change,2013-04-26,C05278,2011-09-16,NaT,0.0,0.0,NaT,0
24,ce,t0013751,Rent Change,2013-04-30,C05278,2011-09-16,NaT,780.0,0.0,NaT,0
25,ce,t0013751,Rent Change,2013-09-30,C05278,2011-09-16,NaT,803.0,0.0,NaT,0
26,ce,t0013751,Rent Change,2014-01-31,C05278,2011-09-16,NaT,1606.0,0.0,NaT,0
27,ce,t0013751,Rent Change,2014-02-28,C05278,2011-09-16,NaT,803.0,0.0,NaT,0
28,ce,t0013751,Rent Change,2015-01-01,C05278,2011-09-16,NaT,810.0,0.0,NaT,0
29,ce,t0013751,Rent Change,2015-06-30,C05278,2011-09-16,NaT,834.0,0.0,NaT,0
...,...,...,...,...,...,...,...,...,...,...,...
7000,mpg,t0050622,Rent Change,2018-11-12,2010-04B,2018-11-17,NaT,1100.0,0.0,NaT,0
7001,mpg,t0050773,Rent Change,2018-11-19,2036-06B,2019-01-31,NaT,1449.0,0.0,NaT,0
7002,mpg,t0050791,Rent Change,2018-11-20,1980-07B,2018-11-30,NaT,1449.0,0.0,NaT,0
7003,mpg,t0050791,Rent Change,2018-11-16,2024-09B,2018-12-07,NaT,1195.0,0.0,NaT,0
7004,fh,t0050919,Rent Change,2018-11-21,1064A,2018-11-23,NaT,1099.0,0.0,NaT,0
7005,fh,t0050919,Rent Change,2018-11-25,1064A,2018-11-23,NaT,1209.0,0.0,NaT,0
7006,sh,t0051110,Rent Change,2018-11-23,SH5946,2018-11-21,NaT,800.0,0.0,NaT,0
7007,sh,t0051110,Rent Change,2018-11-26,SH5901,2018-11-28,NaT,775.0,0.0,NaT,0
7008,ce,t0051473,Rent Change,2018-11-30,M0005E,2018-12-08,NaT,790.0,0.0,NaT,0
7009,ce,t0051473,Rent Change,2018-11-30,M0002A,2019-01-07,NaT,760.0,0.0,NaT,0
7010,ce,t0051586,Rent Change,2018-12-03,C5322J,2019-01-14,NaT,695.0,0.0,NaT,0
7011,sh,t0052825,Rent Change,2018-12-31,WAIT-3TA,2018-12-28,NaT,735.0,0.0,NaT,0
7012,sh,t0052825,Rent Change,2019-01-07,TH5979,2019-02-01,NaT,800.0,0.0,NaT,0
7013,mpg,t0052899,Rent Change,2018-12-31,1978-10B,2019-01-04,NaT,1176.0,0.0,NaT,0
7014,mpg,t0052899,Rent Change,2019-01-09,1978-10B,2019-01-10,NaT,1294.0,0.0,NaT,0
7015,mpg,tl108376,Rent Change,2018-04-05,1986-05B,2018-04-07,NaT,1050.0,0.0,NaT,0
7016,mpg,tl110367,Rent Change,2017-11-15,1968-07C,2017-11-27,NaT,1099.0,0.0,NaT,0
7017,mpg,tl110367,Rent Change,2017-11-15,2006-06C,2017-11-27,NaT,1050.0,0.0,NaT,0
7018,mpg,tl110367,Rent Change,2017-11-27,1968-09B,2017-11-27,NaT,1099.0,0.0,NaT,0
7019,fh,tl115488,Rent Change,2018-02-06,1112A,2018-02-23,NaT,974.0,0.0,NaT,0
7020,mpg,tl115688,Rent Change,2018-01-30,1968-09C,2018-02-15,NaT,1099.0,0.0,NaT,0
7021,mpg,tl116411,Rent Change,2018-04-21,2030-07A,2018-06-05,NaT,1299.0,0.0,NaT,0
7022,fh,tl117521,Rent Change,2018-02-23,4731A,2018-06-02,NaT,985.0,0.0,NaT,0
7023,fh,tl117521,Rent Change,2018-03-15,1041B,2018-06-02,NaT,1000.0,0.0,NaT,0
7024,fh,tl117521,Rent Change,2018-04-19,1081B,2018-06-02,NaT,1135.0,0.0,NaT,0
7025,fh,tl117521,Rent Change,2018-04-19,1081B,2018-06-02,NaT,985.0,0.0,NaT,0
7026,mpg,tl122318,Rent Change,2018-04-16,1968-07B,2018-05-12,NaT,1119.0,0.0,NaT,0
7027,mpg,tl122655,Rent Change,2018-04-17,1966-03B,2018-05-10,NaT,1119.0,0.0,NaT,0
7028,mpg,tl122981,Rent Change,2018-04-20,1968-07B,2018-06-04,NaT,1119.0,0.0,NaT,0
7029,fh,tl127278,Rent Change,2018-06-16,1122AB,2018-06-15,NaT,1135.0,0.0,NaT,0

In [80]:
rentchange = pd.merge(tenants_df, rent_change_tenants, on = "Tenant_Code")
rentchange = rentchange.drop(columns = ['Property_Code_y', 'Event_y',
       'DateOccurred_y', 'Unit_Code_y', 'DateMoveIn_y', 'DateMoveOut_y',
       'Rent_y', 'Sqft_y', 'Length of Stay_y', 'Vacancy_y'])
rentchange = rentchange.rename(columns = {"Property_Code_x": 'Property_Code', "Event_x": 'Event', "DateOccurred_x":'DateOccurred', "Unit_Code_x":'Unit_Code',
       "DateMoveIn_x":'DateMoveIn', "DateMoveOut_x": 'DateMoveOut', "Rent_x":'Rent', "Sqft_x":'Sqft', "Length of Stay_x":'Length of Stay', "Vacancy_x": "Vacancy" })
rentchange.sort_values(["Tenant_Code", "DateOccurred"])
rentchange.head(25)

,Property_Code,Tenant_Code,Event,DateOccurred,Unit_Code,DateMoveIn,DateMoveOut,Rent,Sqft,Length of Stay,Vacancy
0,ce,t0013745,Notice Given,2015-01-05,C05266,2006-11-09,2015-02-28,896.0,0.0,3033 days,0
1,ce,t0013745,Notice Given,2015-01-05,C05266,2006-11-09,2015-02-28,896.0,0.0,3033 days,0
2,ce,t0013745,Notice Given,2015-01-05,C05266,2006-11-09,2015-02-28,896.0,0.0,3033 days,0
3,ce,t0013745,Move Out,2015-02-02,C05266,2006-11-09,2015-01-31,896.0,0.0,3005 days,1
4,ce,t0013745,Move Out,2015-02-02,C05266,2006-11-09,2015-01-31,896.0,0.0,3005 days,1
5,ce,t0013745,Move Out,2015-02-02,C05266,2006-11-09,2015-01-31,896.0,0.0,3005 days,1
6,ce,t0013745,Deposit Change,2015-02-05,C05266,2006-11-09,2015-01-31,896.0,0.0,3005 days,0
7,ce,t0013745,Deposit Change,2015-02-05,C05266,2006-11-09,2015-01-31,896.0,0.0,3005 days,0
8,ce,t0013745,Deposit Change,2015-02-05,C05266,2006-11-09,2015-01-31,896.0,0.0,3005 days,0
9,ce,t0013745,Deposit Accounting,2015-02-05,C05266,2006-11-09,2015-01-31,896.0,0.0,3005 days,0
10,ce,t0013745,Deposit Accounting,2015-02-05,C05266,2006-11-09,2015-01-31,896.0,0.0,3005 days,0
11,ce,t0013745,Deposit Accounting,2015-02-05,C05266,2006-11-09,2015-01-31,896.0,0.0,3005 days,0
12,ce,t0013745,Adjust Deposit Accounting,2015-02-05,C05266,2006-11-09,2015-01-31,896.0,0.0,3005 days,0
13,ce,t0013745,Adjust Deposit Accounting,2015-02-05,C05266,2006-11-09,2015-01-31,896.0,0.0,3005 days,0
14,ce,t0013745,Adjust Deposit Accounting,2015-02-05,C05266,2006-11-09,2015-01-31,896.0,0.0,3005 days,0
15,ce,t0013745,Adjust Deposit Accounting,2015-02-10,C05266,2006-11-09,2015-01-31,896.0,0.0,3005 days,0
16,ce,t0013745,Adjust Deposit Accounting,2015-02-10,C05266,2006-11-09,2015-01-31,896.0,0.0,3005 days,0
17,ce,t0013745,Adjust Deposit Accounting,2015-02-10,C05266,2006-11-09,2015-01-31,896.0,0.0,3005 days,0
18,ce,t0013745,Deposit Change,2013-04-17,C05266,2006-11-09,NaT,870.0,0.0,NaT,0
19,ce,t0013745,Deposit Change,2013-04-17,C05266,2006-11-09,NaT,870.0,0.0,NaT,0
20,ce,t0013745,Deposit Change,2013-04-17,C05266,2006-11-09,NaT,870.0,0.0,NaT,0
21,ce,t0013745,Deposit Change,2013-04-17,C05266,2006-11-09,NaT,870.0,0.0,NaT,0
22,ce,t0013745,Deposit Change,2013-04-17,C05266,2006-11-09,NaT,870.0,0.0,NaT,0
23,ce,t0013745,Deposit Change,2013-04-17,C05266,2006-11-09,NaT,870.0,0.0,NaT,0
24,ce,t0013745,Deposit Change,2013-04-17,C05266,2006-11-09,NaT,870.0,0.0,NaT,0

In [81]:
rentchange = rentchange.drop_duplicates()
rentchange

,Property_Code,Tenant_Code,Event,DateOccurred,Unit_Code,DateMoveIn,DateMoveOut,Rent,Sqft,Length of Stay,Vacancy
0,ce,t0013745,Notice Given,2015-01-05,C05266,2006-11-09,2015-02-28,896.0,0.0,3033 days,0
3,ce,t0013745,Move Out,2015-02-02,C05266,2006-11-09,2015-01-31,896.0,0.0,3005 days,1
6,ce,t0013745,Deposit Change,2015-02-05,C05266,2006-11-09,2015-01-31,896.0,0.0,3005 days,0
9,ce,t0013745,Deposit Accounting,2015-02-05,C05266,2006-11-09,2015-01-31,896.0,0.0,3005 days,0
12,ce,t0013745,Adjust Deposit Accounting,2015-02-05,C05266,2006-11-09,2015-01-31,896.0,0.0,3005 days,0
15,ce,t0013745,Adjust Deposit Accounting,2015-02-10,C05266,2006-11-09,2015-01-31,896.0,0.0,3005 days,0
18,ce,t0013745,Deposit Change,2013-04-17,C05266,2006-11-09,NaT,870.0,0.0,NaT,0
27,ce,t0013745,Month to Month,2013-04-18,C05266,2006-11-09,NaT,870.0,0.0,NaT,0
30,ce,t0013745,Rent Change,2013-04-26,C05266,2006-11-09,NaT,0.0,0.0,NaT,0
33,ce,t0013745,Rent Change,2013-04-30,C05266,2006-11-09,NaT,870.0,0.0,NaT,0
36,ce,t0013745,120 Day Letter Sent,2014-02-21,C05266,2006-11-09,NaT,870.0,0.0,NaT,0
39,ce,t0013745,Rent Change,2014-05-31,C05266,2006-11-09,NaT,896.0,0.0,NaT,0
42,ce,t0013747,Notice Given,2013-07-30,C05270,2012-07-16,2013-08-11,770.0,0.0,391 days,0
44,ce,t0013747,Move Out,2013-08-12,C05270,2012-07-16,2013-08-11,770.0,0.0,391 days,1
46,ce,t0013747,Deposit Change,2013-08-15,C05270,2012-07-16,2013-08-11,770.0,0.0,391 days,0
48,ce,t0013747,Deposit Accounting,2013-08-15,C05270,2012-07-16,2013-08-11,770.0,0.0,391 days,0
50,ce,t0013747,Deposit Change,2013-04-17,C05270,2012-07-16,NaT,770.0,0.0,NaT,0
56,ce,t0013747,Rent Change,2013-04-26,C05270,2012-07-16,NaT,0.0,0.0,NaT,0
58,ce,t0013747,Rent Change,2013-04-30,C05270,2012-07-16,NaT,770.0,0.0,NaT,0
60,ce,t0013748,Notice Given,2015-08-03,C05272,2012-09-28,2015-10-31,824.0,0.0,1128 days,0
64,ce,t0013748,Move Out,2015-10-31,C05272,2012-09-28,2015-10-31,824.0,0.0,1128 days,1
68,ce,t0013748,Deposit Change,2015-11-13,C05272,2012-09-28,2015-10-31,824.0,0.0,1128 days,0
72,ce,t0013748,Deposit Accounting,2015-11-13,C05272,2012-09-28,2015-10-31,824.0,0.0,1128 days,0
76,ce,t0013748,Deposit Change,2013-04-17,C05272,2012-09-28,NaT,770.0,0.0,NaT,0
88,ce,t0013748,Rent Change,2013-04-26,C05272,2012-09-28,NaT,0.0,0.0,NaT,0
92,ce,t0013748,Rent Change,2013-04-30,C05272,2012-09-28,NaT,770.0,0.0,NaT,0
96,ce,t0013748,Rent Change,2013-09-30,C05272,2012-09-28,NaT,800.0,0.0,NaT,0
100,ce,t0013748,Month to Month,2013-10-01,C05272,2012-09-28,NaT,800.0,0.0,NaT,0
104,ce,t0013748,Lease Renewal,2014-08-07,C05272,2012-09-28,NaT,824.0,0.0,NaT,0
108,ce,t0013748,Lease Renewal Canceled,2014-08-07,C05272,2012-09-28,NaT,824.0,0.0,NaT,0
...,...,...,...,...,...,...,...,...,...,...,...
118674,mpg,tl122655,Application Approved,2018-04-19,2006-11A,2018-05-10,NaT,1119.0,0.0,NaT,0
118675,mpg,tl122655,Submit Application,2018-04-17,1966-03B,2018-05-10,NaT,0.0,0.0,NaT,0
118676,mpg,tl122655,Rent Change,2018-04-17,1966-03B,2018-05-10,NaT,1119.0,0.0,NaT,0
118677,mpg,tl122655,Deposit Change,2018-04-18,1966-03B,2018-05-10,NaT,1119.0,0.0,NaT,0
118678,mpg,tl122655,Lease Signed,2018-04-19,2006-11A,2018-05-10,NaT,1119.0,0.0,NaT,0
118679,mpg,tl122655,Assign Unit (From 1966-03B to 2006-11A),2018-04-19,2006-11A,2018-05-10,NaT,1119.0,0.0,NaT,0
118680,mpg,tl122655,Adjust Move In Dates,2018-04-27,2006-11A,2018-05-11,NaT,1119.0,0.0,NaT,0
118681,mpg,tl122655,Move In,2018-05-12,2006-11A,2018-05-11,NaT,1119.0,0.0,NaT,0
118682,mpg,tl122655,Deposit Change,2018-05-14,2006-11A,2018-05-11,NaT,1119.0,0.0,NaT,0
118683,mpg,tl122655,Deposit Change,2018-06-18,2006-11A,2018-05-11,NaT,1119.0,0.0,NaT,0
118684,mpg,tl122981,Application Approved,2018-04-23,1968-07B,2018-06-04,NaT,1119.0,0.0,NaT,0
118685,mpg,tl122981,Submit Application,2018-04-20,1968-07B,2018-06-04,NaT,0.0,0.0,NaT,0
118686,mpg,tl122981,Rent Change,2018-04-20,1968-07B,2018-06-04,NaT,1119.0,0.0,NaT,0
118687,mpg,tl122981,Deposit Change,2018-04-20,1968-07B,2018-06-04,NaT,1119.0,0.0,NaT,0
118688,mpg,tl122981,Deposit Change,2018-04-23,1968-07B,2018-06-04,NaT,1119.0,0.0,NaT,0
118689,mpg,tl122981,Lease Signed,2018-04-23,1968-07B,2018-06-04,NaT,1119.0,0.0,NaT,0
118690,mpg,tl122981,Cancel Move In,2018-05-03,1968-07B,NaT,NaT,1119.0,0.0,NaT,0
118691,mpg,tl122981,Deposit Change,2018-05-09,1968-07B,NaT,NaT,1119.0,0.0,NaT,0
118692,mpg,tl122981,Deposit Accounting,2018-05-09,1968-07B,NaT,NaT,1119.0,0.0,NaT,0
118693,fh,tl127278,Application Approved,2018-06-16,1122AB,2018-06-15,NaT,1135.0,0.0,NaT,0
118694,fh,tl127278,Submit Application,2018-06-15,1035A,2018-06-15,NaT,0.0,0.0,NaT,0
118695,fh,tl127278,Deposit Change,2018-06-15,1035A,2018-06-15,NaT,0.0,0.0,NaT,0
118696,fh,tl127278,Rent Change,2018-06-16,1122AB,2018-06-15,NaT,1135.0,0.0,NaT,0
118697,fh,tl127278,Assign Unit (From 1035A to 1122AB),2018-06-16,1122AB,2018-06-15,NaT,1135.0,0.0,NaT,0
118698,fh,tl127278,Adjust Move In Dates,2018-06-22,1102AB,2018-06-19,NaT,1135.0,0.0,NaT,0
118699,fh,tl127278,Move In,2018-06-22,1102AB,2018-06-19,NaT,1135.0,0.0,NaT,0
118700,fh,tl127278,Adjust Lease End Dates,2018-06-22,1102AB,2018-06-19,NaT,1135.0,0.0,NaT,0
118701,fh,tl127278,Deposit Change,2018-06-26,1102AB,2018-06-19,NaT,1135.0,0.0,NaT,0
118703,fh,tl127278,Lease Signed,2018-06-16,1122AB,2018-06-23,NaT,1135.0,0.0,NaT,0
118704,fh,tl127278,Assign Unit (From 1122AB to 1102AB),2018-06-18,1102AB,2018-06-23,NaT,1135.0,0.0,NaT,0

In [83]:
rentchange.to_csv("Rent_Changed_Tenants.csv")

In [82]:
print(tenants_df["Tenant_Code"].nunique())
print(rent_change_tenants["Tenant_Code"].nunique())
print(rentchange["Tenant_Code"].nunique())
print((tenants_df["Tenant_Code"].nunique()) - (rent_change_tenants["Tenant_Code"].nunique()))

7182
3121
3121
4061

In [ ]:
for i, row in rentchange.iterrows():

In [84]:
nochange = pd.merge(tenants_df, rentchange, how = "outer", indicator = True).query('_merge == "left_only"'). drop('_merge', 1).drop_duplicates(keep=False)
nochange

,Property_Code,Tenant_Code,Event,DateOccurred,Unit_Code,DateMoveIn,DateMoveOut,Rent,Sqft,Length of Stay,Vacancy
14,ce,t0013746,Notice Given,2013-04-17,C05268,2009-10-25,2013-04-30,860.0,0.0,1283 days,0
15,ce,t0013746,Move Out,2013-04-30,C05268,2009-10-25,2013-04-30,860.0,0.0,1283 days,1
16,ce,t0013746,Deposit Change,2013-05-08,C05268,2009-10-25,2013-04-30,860.0,0.0,1283 days,0
17,ce,t0013746,Deposit Accounting,2013-05-08,C05268,2009-10-25,2013-04-30,860.0,0.0,1283 days,0
737,ce,t0013801,Transfer Unit (From C5250M to C5252A),2018-08-29,C5252A,2018-09-14,NaT,819.0,0.0,NaT,0
738,ce,t0013801,Cancel Move In,2018-09-15,C5252A,NaT,NaT,819.0,0.0,NaT,0
973,ce,t0013819,Notice Given,2013-04-17,C5254F,2012-05-12,2013-05-31,650.0,0.0,384 days,0
974,ce,t0013819,Move Out,2013-05-31,C5254F,2012-05-12,2013-05-31,650.0,0.0,384 days,1
975,ce,t0013819,Deposit Change,2013-06-10,C5254F,2012-05-12,2013-05-31,650.0,0.0,384 days,0
976,ce,t0013819,Deposit Accounting,2013-06-10,C5254F,2012-05-12,2013-05-31,650.0,0.0,384 days,0
1026,ce,t0013823,Adjust Moveout Dates,2013-04-30,C5254K,2012-04-15,2013-05-01,660.0,0.0,381 days,0
1027,ce,t0013823,Notice Given,2013-04-17,C5254K,2012-04-15,2013-04-30,660.0,0.0,380 days,0
1028,ce,t0013823,Adjust Moveout Dates,2013-05-01,C5254K,2012-04-15,2013-04-30,660.0,0.0,380 days,0
1029,ce,t0013823,Move Out,2013-05-06,C5254K,2012-04-15,2013-04-30,660.0,0.0,380 days,1
1030,ce,t0013823,Deposit Change,2013-05-08,C5254K,2012-04-15,2013-04-30,660.0,0.0,380 days,0
1031,ce,t0013823,Deposit Accounting,2013-05-08,C5254K,2012-04-15,2013-04-30,660.0,0.0,380 days,0
1032,ce,t0013823,Adjust Deposit Accounting,2013-05-08,C5254K,2012-04-15,2013-04-30,660.0,0.0,380 days,0
1209,ce,t0013838,Notice Given,2013-04-17,C5271B,2012-11-05,2013-04-30,560.0,0.0,176 days,0
1210,ce,t0013838,Move Out,2013-04-30,C5271B,2012-11-05,2013-04-30,560.0,0.0,176 days,1
1211,ce,t0013838,Deposit Change,2013-05-08,C5271B,2012-11-05,2013-04-30,560.0,0.0,176 days,0
1212,ce,t0013838,Deposit Accounting,2013-05-08,C5271B,2012-11-05,2013-04-30,560.0,0.0,176 days,0
1584,ce,t0013866,Adjust Moveout Dates,2013-05-14,C5303F,2012-08-24,2013-05-20,560.0,0.0,269 days,0
1585,ce,t0013866,Adjust Moveout Dates,2013-05-17,C5303F,2012-08-24,2013-05-17,560.0,0.0,266 days,0
1586,ce,t0013866,Move Out,2013-05-17,C5303F,2012-08-24,2013-05-17,560.0,0.0,266 days,1
1587,ce,t0013866,Deposit Change,2013-05-30,C5303F,2012-08-24,2013-05-17,560.0,0.0,266 days,0
1588,ce,t0013866,Deposit Accounting,2013-05-30,C5303F,2012-08-24,2013-05-17,560.0,0.0,266 days,0
1589,ce,t0013866,Adjust Deposit Accounting,2013-05-30,C5303F,2012-08-24,2013-05-17,560.0,0.0,266 days,0
1590,ce,t0013866,Adjust Moveout Dates,2013-05-09,C5303F,2012-08-24,2013-05-10,560.0,0.0,259 days,0
1591,ce,t0013866,Adjust Moveout Dates,2013-05-07,C5303F,2012-08-24,2013-05-08,560.0,0.0,257 days,0
1592,ce,t0013866,Adjust Moveout Dates,2013-05-06,C5303F,2012-08-24,2013-05-06,560.0,0.0,255 days,0
...,...,...,...,...,...,...,...,...,...,...,...
87971,fh,t0050573,Submit Application,2018-11-11,1026A,2018-11-11,NaT,0.0,0.0,NaT,0
87972,fh,t0050573,Application Approved,2018-11-30,1026A,2018-12-01,NaT,0.0,0.0,NaT,0
87973,fh,t0050573,Re-Apply,2018-11-30,1026A,2018-12-01,NaT,0.0,0.0,NaT,0
87974,fh,t0050573,Lease Signed,2018-11-30,1026A,2018-12-01,NaT,0.0,0.0,NaT,0
87983,fh,t0050573,Adjust Move In Dates,2018-12-13,1026A,2018-12-21,NaT,0.0,0.0,NaT,0
87992,fh,t0050573,Adjust Move In Dates,2018-12-26,1026A,2018-12-28,NaT,0.0,0.0,NaT,0
88001,fh,t0050573,Adjust Move In Dates,2019-01-08,1026A,2019-01-31,NaT,0.0,0.0,NaT,0
88010,fh,t0050573,Adjust Move In Dates,2019-01-02,1026A,2019-02-01,NaT,0.0,0.0,NaT,0
88019,fh,t0050573,Application Canceled,2018-11-27,1026A,NaT,NaT,0.0,0.0,NaT,0
88022,fh,t0050573,Deposit Accounting,2018-11-27,1026A,NaT,NaT,0.0,0.0,NaT,0
88154,fh,t0051784,Submit Application,2018-12-06,1025B,2018-12-06,NaT,0.0,0.0,NaT,0
88155,fh,t0051784,Deposit Change,2018-12-06,1025B,2018-12-06,NaT,0.0,0.0,NaT,0
88156,fh,t0051784,Application Denied,2018-12-07,1025B,2018-12-06,NaT,0.0,0.0,NaT,0
88159,fh,t0051784,Deposit Accounting,2018-12-10,1025B,2018-12-06,NaT,0.0,0.0,NaT,0
88160,fh,t0051784,Re-Apply,2019-01-03,1025B,2019-01-15,NaT,0.0,0.0,NaT,0
88161,fh,t0051784,Application Denied,2019-01-09,1025B,2019-01-15,NaT,0.0,0.0,NaT,0
88162,fh,t0051784,Deposit Accounting,2019-01-09,1025B,2019-01-15,NaT,0.0,0.0,NaT,0
88163,sh,t0052261,Submit Application,2018-12-15,SH5770,2018-12-15,NaT,0.0,0.0,NaT,0
88164,sh,t0052261,Application Approved,2018-12-15,SH5770,2018-12-28,NaT,0.0,0.0,NaT,0
88165,sh,t0052261,Deposit Change,2018-12-17,SH5770,2018-12-28,NaT,0.0,0.0,NaT,0
88166,sh,t0052261,Lease Signed,2018-12-26,SH5770,2018-12-28,NaT,0.0,0.0,NaT,0
88167,sh,t0052261,Move In,2018-12-28,SH5770,2018-12-28,NaT,0.0,0.0,NaT,0
88168,sh,t0052261,Deposit Change,2018-12-31,SH5770,2018-12-28,NaT,0.0,0.0,NaT,0
88207,fh,tl106640,Submit Application,2017-09-20,1070AS,2017-10-14,NaT,0.0,0.0,NaT,0
88208,fh,tl106640,Deposit Change,2017-09-20,1070AS,2017-10-14,NaT,0.0,0.0,NaT,0
88209,fh,tl106640,Application Denied,2017-10-02,1070AS,2017-10-14,NaT,0.0,0.0,NaT,0
88212,fh,tl106640,Deposit Accounting,2017-10-09,1070AS,2017-10-14,NaT,0.0,0.0,NaT,0
88213,ce,tl106699,Submit Application,2017-09-05,M0005A,2017-11-10,NaT,626.0,0.0,NaT,0
88214,ce,tl106699,Application Canceled,2017-09-14,M0005A,NaT,NaT,626.0,0.0,NaT,0
88215,ce,tl106699,Deposit Accounting,2017-10-09,M0005A,NaT,NaT,626.0,0.0,NaT,0

In [30]:
indexed_rentchange = rentchange.set_index(["Tenant_Code", "DateOccurred"])
indexed_rentchange

                         Property_Code        Event Unit_Code DateMoveIn  \
Tenant_Code DateOccurred
t0013745    2013-04-26              ce  Rent Change    C05266 2006-11-09
            2013-04-30              ce  Rent Change    C05266 2006-11-09
            2014-05-31              ce  Rent Change    C05266 2006-11-09
            2015-02-02              ce     Move Out    C05266 2006-11-09
t0013746    2013-04-30              ce     Move Out    C05268 2009-10-25
t0013747    2013-04-26              ce  Rent Change    C05270 2012-07-16
            2013-04-30              ce  Rent Change    C05270 2012-07-16
            2013-08-12              ce     Move Out    C05270 2012-07-16
t0013748    2013-04-26              ce  Rent Change    C05272 2012-09-28
            2013-04-30              ce  Rent Change    C05272 2012-09-28
            2013-09-30              ce  Rent Change    C05272 2012-09-28
            2014-11-01              ce  Rent Change    C05272 2012-09-28
            2015-10-31              ce     Move Out    C05272 2012-09-28
t0013749    2013-04-26              ce  Rent Change    C05274 2008-11-26
            2013-04-30              ce  Rent Change    C05274 2008-11-26
            2013-10-31              ce  Rent Change    C05274 2008-11-26
            2013-12-01              ce  Rent Change    C05274 2008-11-26
            2013-12-31              ce  Rent Change    C05274 2008-11-26
            2015-03-01              ce  Rent Change    C05274 2008-11-26
            2016-02-29              ce  Rent Change    C05274 2008-11-26
            2018-02-28              ce  Rent Change    C05274 2008-11-26
t0013750    2013-04-26              ce  Rent Change    C05276 2001-07-21
            2013-04-30              ce  Rent Change    C05276 2001-07-21
            2013-06-30              ce  Rent Change    C05276 2001-07-21
            2014-06-30              ce  Rent Change    C05276 2001-07-21
            2015-06-30              ce  Rent Change    C05276 2001-07-21
            2016-06-30              ce  Rent Change    C05276 2001-07-21
            2017-06-30              ce     Move Out    C05276 2001-07-21
t0013751    2013-04-26              ce  Rent Change    C05278 2011-09-16
            2013-04-30              ce  Rent Change    C05278 2011-09-16
...                                ...          ...       ...        ...
t0050773    2018-11-19             mpg  Rent Change  2036-06B 2019-01-31
t0050791    2018-11-16             mpg  Rent Change  2024-09B 2018-12-07
            2018-11-20             mpg  Rent Change  1980-07B 2018-11-30
t0050919    2018-11-21              fh  Rent Change     1064A 2018-11-23
            2018-11-25              fh  Rent Change     1064A 2018-11-23
t0051110    2018-11-23              sh  Rent Change    SH5946 2018-11-21
            2018-11-26              sh  Rent Change    SH5901 2018-11-28
t0051473    2018-11-30              ce  Rent Change    M0005E 2018-12-08
            2018-11-30              ce  Rent Change    M0002A 2019-01-07
t0051586    2018-12-03              ce  Rent Change    C5322J 2019-01-14
t0052825    2018-12-31              sh  Rent Change  WAIT-3TA 2018-12-28
            2019-01-07              sh  Rent Change    TH5979 2019-02-01
t0052899    2018-12-31             mpg  Rent Change  1978-10B 2019-01-04
            2019-01-09             mpg  Rent Change  1978-10B 2019-01-10
tl108376    2018-04-05             mpg  Rent Change  1986-05B 2018-04-07
tl110367    2017-11-15             mpg  Rent Change  1968-07C 2017-11-27
            2017-11-15             mpg  Rent Change  2006-06C 2017-11-27
            2017-11-27             mpg  Rent Change  1968-09B 2017-11-27
            2018-05-26             mpg     Move Out  1968-09B 2017-11-27
tl115488    2018-02-06              fh  Rent Change     1112A 2018-02-23
tl115688    2018-01-30             mpg  Rent Change  1968-09C 2018-02-15
tl116411    2018-04-21             mpg  Rent Change  2030-07A 2018-06-05
tl117521    2018-02-23              fh  Rent Change     4731A 2018-06-02
            2018-03-15              fh  Rent Change     1041B 2018-06-02
            2018-04-19              fh  Rent Change     1081B 2018-06-02
            2018-04-19              fh  Rent Change     1081B 2018-06-02
tl122318    2018-04-16             mpg  Rent Change  1968-07B 2018-05-12
tl122655    2018-04-17             mpg  Rent Change  1966-03B 2018-05-10
tl122981    2018-04-20             mpg  Rent Change  1968-07B 2018-06-04
tl127278    2018-06-16              fh  Rent Change    1122AB 2018-06-15

                         DateMoveOut    Rent  Sqft Length of Stay  Vacancy
Tenant_Code DateOccurred
t0013745    2013-04-26           NaT     0.0   0.0            NaT        0
            2013-04-30           NaT   870.0   0.0            NaT        0
            2014-05-31           NaT   896.0   0.0            NaT        0
            2015-02-02    2015-01-31   896.0   0.0      3005 days        1
t0013746    2013-04-30    2013-04-30   860.0   0.0      1283 days        1
t0013747    2013-04-26           NaT     0.0   0.0            NaT        0
            2013-04-30           NaT   770.0   0.0            NaT        0
            2013-08-12    2013-08-11   770.0   0.0       391 days        1
t0013748    2013-04-26           NaT     0.0   0.0            NaT        0
            2013-04-30           NaT   770.0   0.0            NaT        0
            2013-09-30           NaT   800.0   0.0            NaT        0
            2014-11-01           NaT   824.0   0.0            NaT        0
            2015-10-31    2015-10-31   824.0   0.0      1128 days        1
t0013749    2013-04-26           NaT     0.0   0.0            NaT        0
            2013-04-30           NaT   880.0   0.0            NaT        0
            2013-10-31           NaT  1795.0   0.0            NaT        0
            2013-12-01           NaT   880.0   0.0            NaT        0
            2013-12-31           NaT   915.0   0.0            NaT        0
            2015-03-01           NaT   924.0   0.0            NaT        0
            2016-02-29           NaT   970.0   0.0            NaT        0
            2018-02-28           NaT  1044.0   0.0            NaT        0
t0013750    2013-04-26           NaT     0.0   0.0            NaT        0
            2013-04-30           NaT   880.0   0.0            NaT        0
            2013-06-30           NaT   890.0   0.0            NaT        0
            2014-06-30           NaT   917.0   0.0            NaT        0
            2015-06-30           NaT   945.0   0.0            NaT        0
            2016-06-30           NaT   999.0   0.0            NaT        0
            2017-06-30    2017-06-30   999.0   0.0      5823 days        1
t0013751    2013-04-26           NaT     0.0   0.0            NaT        0
            2013-04-30           NaT   780.0   0.0            NaT        0
...                              ...     ...   ...            ...      ...
t0050773    2018-11-19           NaT  1449.0   0.0            NaT        0
t0050791    2018-11-16           NaT  1195.0   0.0            NaT        0
            2018-11-20           NaT  1449.0   0.0            NaT        0
t0050919    2018-11-21           NaT  1099.0   0.0            NaT        0
            2018-11-25           NaT  1209.0   0.0            NaT        0
t0051110    2018-11-23           NaT   800.0   0.0            NaT        0
            2018-11-26           NaT   775.0   0.0            NaT        0
t0051473    2018-11-30           NaT   790.0   0.0            NaT        0
            2018-11-30           NaT   760.0   0.0            NaT        0
t0051586    2018-12-03           NaT   695.0   0.0            NaT        0
t0052825    2018-12-31           NaT   735.0   0.0            NaT        0
            2019-01-07           NaT   800.0   0.0            NaT        0
t0052899    2018-12-31           NaT  1176.0   0.0            NaT        0
            2019-01-09           NaT  1294.0   0.0            NaT        0
tl108376    2018-04-05           NaT  1050.0   0.0            NaT        0
tl110367    2017-11-15           NaT  1099.0   0.0            NaT        0
            2017-11-15           NaT  1050.0   0.0            NaT        0
            2017-11-27           NaT  1099.0   0.0            NaT        0
            2018-05-26    2018-05-26  1099.0   0.0       180 days        1
tl115488    2018-02-06           NaT   974.0   0.0            NaT        0
tl115688    2018-01-30           NaT  1099.0   0.0            NaT        0
tl116411    2018-04-21           NaT  1299.0   0.0            NaT        0
tl117521    2018-02-23           NaT   985.0   0.0            NaT        0
            2018-03-15           NaT  1000.0   0.0            NaT        0
            2018-04-19           NaT  1135.0   0.0            NaT        0
            2018-04-19           NaT   985.0   0.0            NaT        0
tl122318    2018-04-16           NaT  1119.0   0.0            NaT        0
tl122655    2018-04-17           NaT  1119.0   0.0            NaT        0
tl122981    2018-04-20           NaT  1119.0   0.0            NaT        0
tl127278    2018-06-16           NaT  1135.0   0.0            NaT        0

[10257 rows x 9 columns]

In [31]:
indexed_norentchange = nochange.set_index(["Tenant_Code", "DateOccurred"])
indexed_norentchange

                         Property_Code  \
Tenant_Code DateOccurred
t0013745    2015-01-05              ce
            2015-02-05              ce
            2015-02-05              ce
            2015-02-05              ce
            2015-02-10              ce
            2013-04-18              ce
            2014-02-21              ce
t0013746    2013-04-17              ce
            2013-05-08              ce
            2013-05-08              ce
t0013747    2013-07-30              ce
            2013-08-15              ce
            2013-08-15              ce
t0013748    2015-08-03              ce
            2015-11-13              ce
            2015-11-13              ce
            2013-10-01              ce
            2014-08-07              ce
            2014-08-07              ce
            2014-09-26              ce
t0013749    2014-01-15              ce
            2015-01-19              ce
            2016-02-17              ce
            2017-01-23              ce
            2018-01-08              ce
            2019-01-02              ce
t0013750    2017-04-24              ce
            2017-07-11              ce
            2017-07-11              ce
            2014-06-24              ce
...                                ...
tl122318    2018-05-14             mpg
            2018-05-14             mpg
            2018-05-18             mpg
            2018-06-18             mpg
tl122655    2018-04-19             mpg
            2018-04-17             mpg
            2018-04-18             mpg
            2018-04-19             mpg
            2018-04-19             mpg
            2018-04-27             mpg
            2018-05-12             mpg
            2018-05-14             mpg
            2018-06-18             mpg
tl122981    2018-04-23             mpg
            2018-04-20             mpg
            2018-04-20             mpg
            2018-04-23             mpg
            2018-04-23             mpg
            2018-05-03             mpg
            2018-05-09             mpg
            2018-05-09             mpg
tl127278    2018-06-16              fh
            2018-06-15              fh
            2018-06-15              fh
            2018-06-16              fh
            2018-06-22              fh
            2018-06-22              fh
            2018-06-22              fh
            2018-06-16              fh
            2018-06-18              fh

                                                            Event Unit_Code  \
Tenant_Code DateOccurred
t0013745    2015-01-05                               Notice Given    C05266
            2015-02-05                             Deposit Change    C05266
            2015-02-05                         Deposit Accounting    C05266
            2015-02-05                  Adjust Deposit Accounting    C05266
            2015-02-10                  Adjust Deposit Accounting    C05266
            2013-04-18                             Month to Month    C05266
            2014-02-21                        120 Day Letter Sent    C05266
t0013746    2013-04-17                               Notice Given    C05268
            2013-05-08                             Deposit Change    C05268
            2013-05-08                         Deposit Accounting    C05268
t0013747    2013-07-30                               Notice Given    C05270
            2013-08-15                             Deposit Change    C05270
            2013-08-15                         Deposit Accounting    C05270
t0013748    2015-08-03                               Notice Given    C05272
            2015-11-13                             Deposit Change    C05272
            2015-11-13                         Deposit Accounting    C05272
            2013-10-01                             Month to Month    C05272
            2014-08-07                              Lease Renewal    C05272
            2014-08-07                     Lease Renewal Canceled    C05272
            2014-09-26                              Lease Renewal    C05272
t0013749    2014-01-15                              Lease Renewal    C05274
            2015-01-19                              Lease Renewal    C05274
            2016-02-17                              Lease Renewal    C05274
            2017-01-23                              Lease Renewal    C05274
            2018-01-08                              Lease Renewal    C05274
            2019-01-02                              Lease Renewal    C05274
t0013750    2017-04-24                               Notice Given    C05276
            2017-07-11                             Deposit Change    C05276
            2017-07-11                         Deposit Accounting    C05276
            2014-06-24                              Lease Renewal    C05276
...                                                           ...       ...
tl122318    2018-05-14                             Deposit Change  1986-07B
            2018-05-14                                    Move In  1986-07B
            2018-05-18                             Deposit Change  1986-07B
            2018-06-18                             Deposit Change  1986-07B
tl122655    2018-04-19                       Application Approved  2006-11A
            2018-04-17                         Submit Application  1966-03B
            2018-04-18                             Deposit Change  1966-03B
            2018-04-19                               Lease Signed  2006-11A
            2018-04-19    Assign Unit (From 1966-03B to 2006-11A)  2006-11A
            2018-04-27                       Adjust Move In Dates  2006-11A
            2018-05-12                                    Move In  2006-11A
            2018-05-14                             Deposit Change  2006-11A
            2018-06-18                             Deposit Change  2006-11A
tl122981    2018-04-23                       Application Approved  1968-07B
            2018-04-20                         Submit Application  1968-07B
            2018-04-20                             Deposit Change  1968-07B
            2018-04-23                             Deposit Change  1968-07B
            2018-04-23                               Lease Signed  1968-07B
            2018-05-03                             Cancel Move In  1968-07B
            2018-05-09                             Deposit Change  1968-07B
            2018-05-09                         Deposit Accounting  1968-07B
tl127278    2018-06-16                       Application Approved    1122AB
            2018-06-15                         Submit Application     1035A
            2018-06-15                             Deposit Change     1035A
            2018-06-16         Assign Unit (From 1035A to 1122AB)    1122AB
            2018-06-22                       Adjust Move In Dates    1102AB
            2018-06-22                                    Move In    1102AB
            2018-06-22                     Adjust Lease End Dates    1102AB
            2018-06-16                               Lease Signed    1122AB
            2018-06-18        Assign Unit (From 1122AB to 1102AB)    1102AB

                         DateMoveIn DateMoveOut    Rent  Sqft Length of Stay  \
Tenant_Code DateOccurred
t0013745    2015-01-05   2006-11-09  2015-02-28   896.0   0.0      3033 days
            2015-02-05   2006-11-09  2015-01-31   896.0   0.0      3005 days
            2015-02-05   2006-11-09  2015-01-31   896.0   0.0      3005 days
            2015-02-05   2006-11-09  2015-01-31   896.0   0.0      3005 days
            2015-02-10   2006-11-09  2015-01-31   896.0   0.0      3005 days
            2013-04-18   2006-11-09         NaT   870.0   0.0            NaT
            2014-02-21   2006-11-09         NaT   870.0   0.0            NaT
t0013746    2013-04-17   2009-10-25  2013-04-30   860.0   0.0      1283 days
            2013-05-08   2009-10-25  2013-04-30   860.0   0.0      1283 days
            2013-05-08   2009-10-25  2013-04-30   860.0   0.0      1283 days
t0013747    2013-07-30   2012-07-16  2013-08-11   770.0   0.0       391 days
            2013-08-15   2012-07-16  2013-08-11   770.0   0.0       391 days
            2013-08-15   2012-07-16  2013-08-11   770.0   0.0       391 days
t0013748    2015-08-03   2012-09-28  2015-10-31   824.0   0.0      1128 days
            2015-11-13   2012-09-28  2015-10-31   824.0   0.0      1128 days
            2015-11-13   2012-09-28  2015-10-31   824.0   0.0      1128 days
            2013-10-01   2012-09-28         NaT   800.0   0.0            NaT
            2014-08-07   2012-09-28         NaT   824.0   0.0            NaT
            2014-08-07   2012-09-28         NaT   824.0   0.0            NaT
            2014-09-26   2012-09-28         NaT   824.0   0.0            NaT
t0013749    2014-01-15   2008-11-26         NaT   915.0   0.0            NaT
            2015-01-19   2008-11-26         NaT   924.0   0.0            NaT
            2016-02-17   2008-11-26         NaT   970.0   0.0            NaT
            2017-01-23   2008-11-26         NaT   970.0   0.0            NaT
            2018-01-08   2008-11-26         NaT  1044.0   0.0            NaT
            2019-01-02   2008-11-26         NaT  1109.0   0.0            NaT
t0013750    2017-04-24   2001-07-21  2017-06-30   999.0   0.0      5823 days
            2017-07-11   2001-07-21  2017-06-30   999.0   0.0      5823 days
            2017-07-11   2001-07-21  2017-06-30   999.0   0.0      5823 days
            2014-06-24   2001-07-21         NaT   917.0   0.0            NaT
...                             ...         ...     ...   ...            ...
tl122318    2018-05-14   2018-05-12         NaT  1119.0   0.0            NaT
            2018-05-14   2018-05-12         NaT  1119.0   0.0            NaT
            2018-05-18   2018-05-12         NaT  1119.0   0.0            NaT
            2018-06-18   2018-05-12         NaT  1119.0   0.0            NaT
tl122655    2018-04-19   2018-05-10         NaT  1119.0   0.0            NaT
            2018-04-17   2018-05-10         NaT     0.0   0.0            NaT
            2018-04-18   2018-05-10         NaT  1119.0   0.0            NaT
            2018-04-19   2018-05-10         NaT  1119.0   0.0            NaT
            2018-04-19   2018-05-10         NaT  1119.0   0.0            NaT
            2018-04-27   2018-05-11         NaT  1119.0   0.0            NaT
            2018-05-12   2018-05-11         NaT  1119.0   0.0            NaT
            2018-05-14   2018-05-11         NaT  1119.0   0.0            NaT
            2018-06-18   2018-05-11         NaT  1119.0   0.0            NaT
tl122981    2018-04-23   2018-06-04         NaT  1119.0   0.0            NaT
            2018-04-20   2018-06-04         NaT     0.0   0.0            NaT
            2018-04-20   2018-06-04         NaT  1119.0   0.0            NaT
            2018-04-23   2018-06-04         NaT  1119.0   0.0            NaT
            2018-04-23   2018-06-04         NaT  1119.0   0.0            NaT
            2018-05-03          NaT         NaT  1119.0   0.0            NaT
            2018-05-09          NaT         NaT  1119.0   0.0            NaT
            2018-05-09          NaT         NaT  1119.0   0.0            NaT
tl127278    2018-06-16   2018-06-15         NaT  1135.0   0.0            NaT
            2018-06-15   2018-06-15         NaT     0.0   0.0            NaT
            2018-06-15   2018-06-15         NaT     0.0   0.0            NaT
            2018-06-16   2018-06-15         NaT  1135.0   0.0            NaT
            2018-06-22   2018-06-19         NaT  1135.0   0.0            NaT
            2018-06-22   2018-06-19         NaT  1135.0   0.0            NaT
            2018-06-22   2018-06-19         NaT  1135.0   0.0            NaT
            2018-06-16   2018-06-23         NaT  1135.0   0.0            NaT
            2018-06-18   2018-06-23         NaT  1135.0   0.0            NaT

                          Vacancy
Tenant_Code DateOccurred
t0013745    2015-01-05          0
            2015-02-05          0
            2015-02-05          0
            2015-02-05          0
            2015-02-10          0
            2013-04-18          0
            2014-02-21          0
t0013746    2013-04-17          0
            2013-05-08          0
            2013-05-08          0
t0013747    2013-07-30          0
            2013-08-15          0
            2013-08-15          0
t0013748    2015-08-03          0
            2015-11-13          0
            2015-11-13          0
            2013-10-01          0
            2014-08-07          0
            2014-08-07          0
            2014-09-26          0
t0013749    2014-01-15          0
            2015-01-19          0
            2016-02-17          0
            2017-01-23          0
            2018-01-08          0
            2019-01-02          0
t0013750    2017-04-24          0
            2017-07-11          0
            2017-07-11          0
            2014-06-24          0
...                           ...
tl122318    2018-05-14          0
            2018-05-14          0
            2018-05-18          0
            2018-06-18          0
tl122655    2018-04-19          0
            2018-04-17          0
            2018-04-18          0
            2018-04-19          0
            2018-04-19          0
            2018-04-27          0
            2018-05-12          0
            2018-05-14          0
            2018-06-18          0
tl122981    2018-04-23          0
            2018-04-20          0
            2018-04-20          0
            2018-04-23          0
            2018-04-23          0
            2018-05-03          0
            2018-05-09          0
            2018-05-09          0
tl127278    2018-06-16          0
            2018-06-15          0
            2018-06-15          0
            2018-06-16          0
            2018-06-22          0
            2018-06-22          0
            2018-06-22          0
            2018-06-16          0
            2018-06-18          0

[50591 rows x 9 columns]

In [ ]:
tenants = []

for x in range(len(tenants_df)):
    tenant = tenants_df["Tenant_Code"].iloc[x]
    event = tenants_df["Tenant_Code"].iloc[x]
    if event == "Rent Change":
        tenants.append(tenant)
        
tenants