In [112]:
%matplotlib inline
from sklearn.neighbors import KNeighborsClassifier
import matplotlib.pyplot as plt
import pandas as pd
import os
import warnings
warnings.simplefilter('ignore')
import numpy as np
import pickle

In [113]:
rent = "final.csv"
rent_df = pd.read_csv(rent)
rent_df = rent_df.drop(["Unnamed: 0"], axis = 1)
#rent_df.dropna(inplace = True)

In [114]:
indexNames = rent_df[rent_df["Rent"] == rent_df ["chrent"]].index
rent_df.drop(indexNames, inplace = True)
outliers = rent_df[rent_df["chrent"] >= 500].index
rent_df.drop(outliers, inplace = True)
outliers2 = rent_df[rent_df["chrent"] <= -500].index
rent_df.drop(outliers2, inplace = True)
rent_df.drop(["LengthStay","DateOccurred","DateMoveOut"], axis = 1, inplace =True)
rent_df.dropna(inplace = True)
rent_df

,Property_Code,Tenant_Code,Event,Unit_Code,DateMoveIn,Rent,Vacancy,SQFT,BedRooms,Bathroom,chrent
1,ce,t0013745,Rent Change,C05266,2006-11-09,896.0,1,1400,3,2.5,26.0
4,ce,t0013748,Rent Change,C05272,2012-09-28,800.0,0,1088,2,1.5,30.0
5,ce,t0013748,Rent Change,C05272,2012-09-28,824.0,1,1088,2,1.5,24.0
9,ce,t0013749,Rent Change,C05274,2008-11-26,915.0,0,1400,3,2.5,35.0
10,ce,t0013749,Rent Change,C05274,2008-11-26,924.0,0,1400,3,2.5,9.0
11,ce,t0013749,Rent Change,C05274,2008-11-26,970.0,0,1400,3,2.5,46.0
12,ce,t0013749,Rent Change,C05274,2008-11-26,1044.0,0,1400,3,2.5,74.0
14,ce,t0013750,Rent Change,C05276,2001-07-21,890.0,0,1400,3,2.5,10.0
15,ce,t0013750,Rent Change,C05276,2001-07-21,917.0,0,1400,3,2.5,27.0
16,ce,t0013750,Rent Change,C05276,2001-07-21,945.0,0,1400,3,2.5,28.0
17,ce,t0013750,Rent Change,C05276,2001-07-21,999.0,1,1400,3,2.5,54.0
19,ce,t0013751,Rent Change,C05278,2011-09-16,803.0,0,1088,2,1.5,23.0
22,ce,t0013751,Rent Change,C05278,2011-09-16,810.0,0,1088,2,1.5,7.0
23,ce,t0013751,Rent Change,C05278,2011-09-16,834.0,1,1088,2,1.5,24.0
25,ce,t0013752,Rent Change,C05280,2010-04-23,803.0,0,1088,2,1.5,23.0
26,ce,t0013752,Rent Change,C05280,2010-04-23,827.0,0,1088,2,1.5,24.0
27,ce,t0013752,Rent Change,C05280,2010-04-23,859.0,1,1088,2,1.5,32.0
31,ce,t0013755,Rent Change,C0003A,2010-07-29,640.0,1,905,2,1.0,10.0
33,ce,t0013756,Rent Change,C0003B,2008-09-01,660.0,0,905,2,1.0,30.0
34,ce,t0013756,Rent Change,C0003B,2008-09-01,680.0,1,905,2,1.0,20.0
36,ce,t0013757,Rent Change,C0003C,2012-08-03,670.0,1,905,2,1.0,30.0
39,ce,t0013759,Rent Change,C0003E,2008-06-26,650.0,1,905,2,1.0,10.0
41,ce,t0013760,Rent Change,C0003F,2003-09-19,665.0,1,905,2,1.0,25.0
44,ce,t0013762,Rent Change,C0003H,2009-12-02,659.0,0,905,2,1.0,19.0
45,ce,t0013762,Rent Change,C0003H,2009-12-02,679.0,1,905,2,1.0,20.0
48,ce,t0013764,Rent Change,C0003K,2011-08-19,676.0,1,905,2,1.0,26.0
50,ce,t0013765,Rent Change,C0003L,2012-08-01,680.0,0,905,2,1.0,30.0
51,ce,t0013765,Rent Change,C0003L,2012-08-01,700.0,0,905,2,1.0,20.0
52,ce,t0013765,Rent Change,C0003L,2012-08-01,710.0,0,905,2,1.0,10.0
53,ce,t0013765,Rent Change,C0003L,2012-08-01,720.0,1,905,2,1.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...
6623,mpg,t0050472,Rent Change,2032-03B,2018-11-14,1449.0,0,1040,2,2.0,0.0
6624,mpg,t0050622,Rent Change,2010-04B,2018-11-17,1100.0,0,1040,2,2.0,0.0
6625,mpg,t0050773,Rent Change,2036-06B,2019-01-31,1449.0,0,1040,2,2.0,0.0
6626,mpg,t0050791,Rent Change,2024-09B,2018-12-07,1195.0,0,835,1,1.0,0.0
6627,mpg,t0050791,Rent Change,1980-07B,2018-11-30,1449.0,0,1040,2,2.0,254.0
6628,fh,t0050919,Rent Change,1064A,2018-11-23,1099.0,0,912,2,1.0,0.0
6629,fh,t0050919,Rent Change,1064A,2018-11-23,1209.0,0,912,2,1.0,110.0
6630,sh,t0051110,Rent Change,SH5946,2018-11-21,800.0,0,1006,2,1.5,0.0
6631,sh,t0051110,Rent Change,SH5901,2018-11-28,775.0,0,1006,2,1.5,-25.0
6632,ce,t0051473,Rent Change,M0002A,2019-01-07,760.0,0,635,1,1.0,0.0
6633,ce,t0051473,Rent Change,M0005E,2018-12-08,790.0,0,635,1,1.0,30.0
6634,ce,t0051586,Rent Change,C5322J,2019-01-14,695.0,0,675,1,1.0,0.0
6636,sh,t0052825,Rent Change,TH5979,2019-02-01,800.0,0,1006,3,1.5,65.0
6637,mpg,t0052899,Rent Change,1978-10B,2019-01-04,1176.0,0,895,2,2.0,0.0
6638,mpg,t0052899,Rent Change,1978-10B,2019-01-10,1294.0,0,895,2,2.0,118.0
6639,mpg,tl108376,Rent Change,1986-05B,2018-04-07,1050.0,0,835,1,1.0,0.0
6640,mpg,tl110367,Rent Change,2006-06C,2017-11-27,1050.0,0,835,1,1.0,0.0
6641,mpg,tl110367,Rent Change,1968-07C,2017-11-27,1099.0,0,835,1,1.0,49.0
6642,mpg,tl110367,Rent Change,1968-09B,2017-11-27,1099.0,1,835,1,1.0,0.0
6643,fh,tl115488,Rent Change,1112A,2018-02-23,974.0,0,700,1,1.0,0.0
6644,mpg,tl115688,Rent Change,1968-09C,2018-02-15,1099.0,0,835,1,1.0,0.0
6645,mpg,tl116411,Rent Change,2030-07A,2018-06-05,1299.0,0,895,2,2.0,0.0
6646,fh,tl117521,Rent Change,4731A,2018-06-02,985.0,0,912,2,1.0,0.0
6647,fh,tl117521,Rent Change,1041B,2018-06-02,1000.0,0,912,2,1.0,15.0
6648,fh,tl117521,Rent Change,1081B,2018-06-02,1135.0,0,912,2,1.0,135.0
6649,fh,tl117521,Rent Change,1081B,2018-06-02,985.0,0,912,2,1.0,-150.0
6650,mpg,tl122318,Rent Change,1968-07B,2018-05-12,1119.0,0,835,1,1.0,0.0
6651,mpg,tl122655,Rent Change,1966-03B,2018-05-10,1119.0,0,1040,2,2.0,0.0
6652,mpg,tl122981,Rent Change,1968-07B,2018-06-04,1119.0,0,835,1,1.0,0.0
6653,fh,tl127278,Rent Change,1122AB,2018-06-15,1135.0,0,912,2,1.0,0.0

In [115]:
X = rent_df[["SQFT", "BedRooms", "Bathroom", "chrent", "Property_Code"]]
y = rent_df["Vacancy"]
print(X.shape, y.shape)

(6096, 5) (6096,)

In [116]:
data = X.copy()

data_binary_encoded = pd.get_dummies(data, columns = ["Property_Code"])
data_binary_encoded.head()

,SQFT,BedRooms,Bathroom,chrent,Property_Code_ce,Property_Code_fh,Property_Code_mpg,Property_Code_sh
1,1400,3,2.5,26.0,1,0,0,0
4,1088,2,1.5,30.0,1,0,0,0
5,1088,2,1.5,24.0,1,0,0,0
9,1400,3,2.5,35.0,1,0,0,0
10,1400,3,2.5,9.0,1,0,0,0

In [117]:
#data_binary_encoded.dropna(inplace = True)

In [118]:
data_binary_encoded.dtypes

SQFT                   int64
BedRooms               int64
Bathroom             float64
chrent               float64
Property_Code_ce       uint8
Property_Code_fh       uint8
Property_Code_mpg      uint8
Property_Code_sh       uint8
dtype: object

In [119]:
data_binary_encoded ["BedRooms"]= data_binary_encoded["BedRooms"].astype(float)
data_binary_encoded ["Property_Code_ce"]= data_binary_encoded["Property_Code_ce"].astype(float)
data_binary_encoded ["Property_Code_fh"]= data_binary_encoded["Property_Code_fh"].astype(float)
data_binary_encoded ["Property_Code_mpg"]= data_binary_encoded["Property_Code_mpg"].astype(float)
data_binary_encoded ["Property_Code_sh"]= data_binary_encoded["Property_Code_sh"].astype(float)

In [120]:
print (data_binary_encoded.shape)
print (y.shape)

(6096, 8)
(6096,)

In [121]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from keras.utils import to_categorical

X_train, X_test, y_train, y_test = train_test_split(data_binary_encoded, y, stratify=y, random_state=42)

label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

In [122]:
print(X_test.shape)
print (y_test_categorical.shape)
print (X_train.shape)

(1524, 8)
(1524, 2)
(4572, 8)

In [123]:
from keras.models import Sequential
from keras.layers import Dense
deep_model = Sequential()

deep_model.add(Dense(units=100, activation='relu', input_dim=8))
deep_model.add(Dense(units=100, activation='relu'))
deep_model.add(Dense(units=2, activation='softmax'))

In [131]:
deep_model.compile(optimizer='adam',
                   loss='categorical_crossentropy',
                   metrics=['accuracy'])

deep_model.fit(
    X_train,
    y_train_categorical,
    epochs=100,
    shuffle=True,
    verbose=2
)

Epoch 1/100
 - 1s - loss: 4.0789 - acc: 0.7469
Epoch 2/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 3/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 4/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 5/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 6/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 7/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 8/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 9/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 10/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 11/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 12/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 13/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 14/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 15/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 16/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 17/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 18/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 19/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 20/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 21/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 22/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 23/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 24/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 25/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 26/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 27/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 28/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 29/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 30/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 31/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 32/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 33/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 34/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 35/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 36/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 37/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 38/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 39/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 40/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 41/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 42/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 43/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 44/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 45/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 46/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 47/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 48/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 49/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 50/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 51/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 52/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 53/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 54/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 55/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 56/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 57/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 58/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 59/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 60/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 61/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 62/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 63/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 64/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 65/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 66/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 67/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 68/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 69/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 70/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 71/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 72/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 73/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 74/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 75/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 76/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 77/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 78/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 79/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 80/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 81/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 82/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 83/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 84/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 85/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 86/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 87/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 88/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 89/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 90/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 91/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 92/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 93/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 94/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 95/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 96/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 97/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 98/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 99/100
 - 0s - loss: 4.0789 - acc: 0.7469
Epoch 100/100
 - 0s - loss: 4.0789 - acc: 0.7469

In [125]:
model_loss, model_accuracy = deep_model.evaluate(
    X_test, y_test_categorical, verbose=2)
print(f"Deep Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

Deep Neural Network - Loss: 4.0718285918548665, Accuracy: 0.7473753280839895

In [126]:
deep_predictions = deep_model.predict_classes(X_train)
deep_predictor = pd.DataFrame({"Predictions": deep_predictions, "Actual": y_train})
deep_predictor.loc[deep_predictor["Predictions"] == 1, "Predictions"] = "Vacant"
deep_predictor.loc[deep_predictor["Predictions"] == 0, "Predictions"] = "Occupied"
deep_predictor.loc[deep_predictor["Actual"] == 1, "Actual"] = "Vacant"
deep_predictor.loc[deep_predictor["Actual"] == 0, "Actual"] = "Occupied"
deep_predictor

     Predictions    Actual
4350    Occupied  Occupied
3479    Occupied    Vacant
5330    Occupied    Vacant
1952    Occupied  Occupied
2259    Occupied    Vacant
4662    Occupied    Vacant
4878    Occupied    Vacant
6107    Occupied  Occupied
4391    Occupied  Occupied
4130    Occupied  Occupied
5135    Occupied  Occupied
3791    Occupied    Vacant
2945    Occupied    Vacant
1430    Occupied  Occupied
2269    Occupied  Occupied
3950    Occupied    Vacant
1427    Occupied  Occupied
5701    Occupied  Occupied
6277    Occupied  Occupied
3171    Occupied  Occupied
4327    Occupied  Occupied
5569    Occupied  Occupied
2230    Occupied  Occupied
2998    Occupied  Occupied
852     Occupied  Occupied
1231    Occupied    Vacant
5444    Occupied  Occupied
5082    Occupied  Occupied
5819    Occupied    Vacant
4271    Occupied  Occupied
...          ...       ...
1229    Occupied  Occupied
4266    Occupied  Occupied
5983    Occupied  Occupied
4000    Occupied  Occupied
1092    Occupied  Occupied
3081    Occupied  Occupied
3927    Occupied  Occupied
3577    Occupied  Occupied
4924    Occupied  Occupied
1173    Occupied  Occupied
3225    Occupied    Vacant
5897    Occupied  Occupied
6515    Occupied  Occupied
1213    Occupied    Vacant
3148    Occupied  Occupied
1965    Occupied    Vacant
5987    Occupied    Vacant
6574    Occupied  Occupied
2632    Occupied  Occupied
2813    Occupied    Vacant
723     Occupied  Occupied
322     Occupied  Occupied
1262    Occupied    Vacant
1956    Occupied  Occupied
1163    Occupied  Occupied
5104    Occupied  Occupied
5483    Occupied  Occupied
6198    Occupied  Occupied
1017    Occupied  Occupied
4128    Occupied    Vacant

[4572 rows x 2 columns]

In [127]:
deep_model.save("logistics_deep_network.h5")

In [128]:
filename = "logisitic_depp_network.pkl"
list_pickle = open(filename, "wb")
pickle.dump(deep_model, list_pickle)
list_pickle.close()

In [129]:
deep_model.predict_classes([[[1400,3,2.5,26.0,1,0,0,0]]])

array([0], dtype=int64)