In [23]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np

In [24]:
data = pd.read_csv("model_data.csv")
data.columns

Index(['Unnamed: 0', 'Property_Code', 'Tenant_Code', 'Event', 'DateOccurred',
       'Unit_Code', 'DateMoveIn', 'DateMoveOut', 'Rent', 'Vacancy', 'SQFT',
       'BedRooms', 'Bathroom', 'chrent', 'LengthStay', 'Apt Size'],
      dtype='object')

In [25]:
data.drop("Unnamed: 0",axis=1,inplace=True)

In [26]:
data

,Property_Code,Tenant_Code,Event,DateOccurred,Unit_Code,DateMoveIn,DateMoveOut,Rent,Vacancy,SQFT,BedRooms,Bathroom,chrent,LengthStay,Apt Size
0,ce,t0013745,Rent Change,5/31/2014,C05266,11/9/2006,1/31/2015,896.0,1,1400,3,2.5,26.0,245 days 00:00:00.000000000,large
1,ce,t0013748,Rent Change,9/30/2013,C05272,9/28/2012,NaN,800.0,0,1088,2,1.5,30.0,NaN,large
2,ce,t0013748,Rent Change,11/1/2014,C05272,9/28/2012,10/31/2015,824.0,1,1088,2,1.5,24.0,364 days 00:00:00.000000000,large
3,ce,t0013749,Rent Change,12/31/2013,C05274,11/26/2008,NaN,915.0,0,1400,3,2.5,35.0,NaN,large
4,ce,t0013749,Rent Change,3/1/2015,C05274,11/26/2008,NaN,924.0,0,1400,3,2.5,9.0,NaN,large
5,ce,t0013749,Rent Change,2/29/2016,C05274,11/26/2008,NaN,970.0,0,1400,3,2.5,46.0,NaN,large
6,ce,t0013749,Rent Change,2/28/2018,C05274,11/26/2008,NaN,1044.0,0,1400,3,2.5,74.0,NaN,large
7,ce,t0013750,Rent Change,6/30/2013,C05276,7/21/2001,NaN,890.0,0,1400,3,2.5,10.0,NaN,large
8,ce,t0013750,Rent Change,6/30/2014,C05276,7/21/2001,NaN,917.0,0,1400,3,2.5,27.0,NaN,large
9,ce,t0013750,Rent Change,6/30/2015,C05276,7/21/2001,NaN,945.0,0,1400,3,2.5,28.0,NaN,large
10,ce,t0013750,Rent Change,6/30/2016,C05276,7/21/2001,6/30/2017,999.0,1,1400,3,2.5,54.0,365 days 00:00:00.000000000,large
11,ce,t0013751,Rent Change,9/30/2013,C05278,9/16/2011,NaN,803.0,0,1088,2,1.5,23.0,NaN,large
12,ce,t0013751,Rent Change,1/1/2015,C05278,9/16/2011,NaN,810.0,0,1088,2,1.5,7.0,NaN,large
13,ce,t0013751,Rent Change,6/30/2015,C05278,9/16/2011,10/18/2015,834.0,1,1088,2,1.5,24.0,110 days 00:00:00.000000000,large
14,ce,t0013752,Rent Change,5/31/2014,C05280,4/23/2010,NaN,803.0,0,1088,2,1.5,23.0,NaN,large
15,ce,t0013752,Rent Change,5/31/2015,C05280,4/23/2010,NaN,827.0,0,1088,2,1.5,24.0,NaN,large
16,ce,t0013752,Rent Change,5/31/2016,C05280,4/23/2010,5/31/2017,859.0,1,1088,2,1.5,32.0,365 days 00:00:00.000000000,large
17,ce,t0013755,Rent Change,6/30/2013,C0003A,7/29/2010,7/31/2013,640.0,1,905,2,1.0,10.0,31 days 00:00:00.000000000,medium
18,ce,t0013756,Rent Change,9/1/2013,C0003B,9/1/2008,NaN,660.0,0,905,2,1.0,30.0,NaN,medium
19,ce,t0013756,Rent Change,9/30/2014,C0003B,9/1/2008,8/15/2015,680.0,1,905,2,1.0,20.0,319 days 00:00:00.000000000,medium
20,ce,t0013757,Rent Change,9/1/2013,C0003C,8/3/2012,8/31/2014,670.0,1,905,2,1.0,30.0,364 days 00:00:00.000000000,medium
21,ce,t0013759,Rent Change,6/30/2013,C0003E,6/26/2008,6/1/2014,650.0,1,905,2,1.0,10.0,336 days 00:00:00.000000000,medium
22,ce,t0013760,Rent Change,12/1/2013,C0003F,9/19/2003,8/25/2014,665.0,1,905,2,1.0,25.0,267 days 00:00:00.000000000,medium
23,ce,t0013762,Rent Change,5/31/2014,C0003H,12/2/2009,NaN,659.0,0,905,2,1.0,19.0,NaN,medium
24,ce,t0013762,Rent Change,5/31/2015,C0003H,12/2/2009,4/21/2016,679.0,1,905,2,1.0,20.0,326 days 00:00:00.000000000,medium
25,ce,t0013764,Rent Change,10/31/2013,C0003K,8/19/2011,1/13/2014,676.0,1,905,2,1.0,26.0,74 days 00:00:00.000000000,medium
26,ce,t0013765,Rent Change,8/1/2013,C0003L,8/1/2012,NaN,680.0,0,905,2,1.0,30.0,NaN,medium
27,ce,t0013765,Rent Change,7/31/2014,C0003L,8/1/2012,NaN,700.0,0,905,2,1.0,20.0,NaN,medium
28,ce,t0013765,Rent Change,9/1/2014,C0003L,8/1/2012,NaN,710.0,0,905,2,1.0,10.0,NaN,medium
29,ce,t0013765,Rent Change,7/31/2015,C0003L,8/1/2012,7/31/2016,720.0,1,905,2,1.0,10.0,366 days 00:00:00.000000000,medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6185,mpg,t0050622,Rent Change,11/12/2018,2010-04B,11/17/2018,NaN,1100.0,0,1040,2,2.0,0.0,NaN,large
6186,mpg,t0050773,Rent Change,11/19/2018,2036-06B,1/31/2019,NaN,1449.0,0,1040,2,2.0,0.0,NaN,large
6187,mpg,t0050791,Rent Change,11/16/2018,2024-09B,12/7/2018,NaN,1195.0,0,835,1,1.0,0.0,NaN,medium
6188,mpg,t0050791,Rent Change,11/20/2018,1980-07B,11/30/2018,NaN,1449.0,0,1040,2,2.0,254.0,NaN,large
6189,fh,t0050919,Rent Change,11/21/2018,1064A,11/23/2018,NaN,1099.0,0,912,2,1.0,0.0,NaN,medium
6190,fh,t0050919,Rent Change,11/25/2018,1064A,11/23/2018,NaN,1209.0,0,912,2,1.0,110.0,NaN,medium
6191,sh,t0051110,Rent Change,11/23/2018,SH5946,11/21/2018,NaN,800.0,0,1006,2,1.5,0.0,NaN,large
6192,sh,t0051110,Rent Change,11/26/2018,SH5901,11/28/2018,NaN,775.0,0,1006,2,1.5,-25.0,NaN,large
6193,ce,t0051473,Rent Change,11/30/2018,M0002A,1/7/2019,NaN,760.0,0,635,1,1.0,0.0,NaN,medium
6194,ce,t0051473,Rent Change,11/30/2018,M0005E,12/8/2018,NaN,790.0,0,635,1,1.0,30.0,NaN,medium
6195,ce,t0051586,Rent Change,12/3/2018,C5322J,1/14/2019,NaN,695.0,0,675,1,1.0,0.0,NaN,medium
6196,sh,t0052825,Rent Change,12/31/2018,WAIT-3TA,12/28/2018,NaN,735.0,0,1006,3,NaN,0.0,NaN,large
6197,sh,t0052825,Rent Change,1/7/2019,TH5979,2/1/2019,NaN,800.0,0,1006,3,1.5,65.0,NaN,large
6198,mpg,t0052899,Rent Change,12/31/2018,1978-10B,1/4/2019,NaN,1176.0,0,895,2,2.0,0.0,NaN,medium
6199,mpg,t0052899,Rent Change,1/9/2019,1978-10B,1/10/2019,NaN,1294.0,0,895,2,2.0,118.0,NaN,medium
6200,mpg,tl108376,Rent Change,4/5/2018,1986-05B,4/7/2018,NaN,1050.0,0,835,1,1.0,0.0,NaN,medium
6201,mpg,tl110367,Rent Change,11/15/2017,2006-06C,11/27/2017,NaN,1050.0,0,835,1,1.0,0.0,NaN,medium
6202,mpg,tl110367,Rent Change,11/15/2017,1968-07C,11/27/2017,NaN,1099.0,0,835,1,1.0,49.0,NaN,medium
6203,mpg,tl110367,Rent Change,11/27/2017,1968-09B,11/27/2017,5/26/2018,1099.0,1,835,1,1.0,0.0,180 days 00:00:00.000000000,medium
6204,fh,tl115488,Rent Change,2/6/2018,1112A,2/23/2018,NaN,974.0,0,700,1,1.0,0.0,NaN,medium
6205,mpg,tl115688,Rent Change,1/30/2018,1968-09C,2/15/2018,NaN,1099.0,0,835,1,1.0,0.0,NaN,medium
6206,mpg,tl116411,Rent Change,4/21/2018,2030-07A,6/5/2018,NaN,1299.0,0,895,2,2.0,0.0,NaN,medium
6207,fh,tl117521,Rent Change,2/23/2018,4731A,6/2/2018,NaN,985.0,0,912,2,1.0,0.0,NaN,medium
6208,fh,tl117521,Rent Change,3/15/2018,1041B,6/2/2018,NaN,1000.0,0,912,2,1.0,15.0,NaN,medium
6209,fh,tl117521,Rent Change,4/19/2018,1081B,6/2/2018,NaN,1135.0,0,912,2,1.0,135.0,NaN,medium
6210,fh,tl117521,Rent Change,4/19/2018,1081B,6/2/2018,NaN,985.0,0,912,2,1.0,-150.0,NaN,medium
6211,mpg,tl122318,Rent Change,4/16/2018,1968-07B,5/12/2018,NaN,1119.0,0,835,1,1.0,0.0,NaN,medium
6212,mpg,tl122655,Rent Change,4/17/2018,1966-03B,5/10/2018,NaN,1119.0,0,1040,2,2.0,0.0,NaN,large
6213,mpg,tl122981,Rent Change,4/20/2018,1968-07B,6/4/2018,NaN,1119.0,0,835,1,1.0,0.0,NaN,medium
6214,fh,tl127278,Rent Change,6/16/2018,1122AB,6/15/2018,NaN,1135.0,0,912,2,1.0,0.0,NaN,medium

In [4]:
data.drop(data[(data.Vacancy==0)].index, inplace=True)

In [5]:
max(data["SQFT"])

1400

In [6]:
#data["LengthStay"] = data["LengthStay"].str.split(" ", n = 0, expand = True)

In [7]:
#data["LengthStay"] = data["LengthStay"].astype(int)

In [8]:
data.drop(["DateMoveOut","DateMoveIn","Tenant_Code","Unit_Code","Event","DateOccurred","LengthStay"], axis=1, inplace= True)
data.dropna(inplace = True)

In [9]:
data2 = pd.get_dummies(data)

In [10]:
X = data2[['Vacancy', 'SQFT', 'BedRooms', 'Bathroom', 'Property_Code_ce', 'Property_Code_fh','Property_Code_mpg', 'Property_Code_sh']]
y = data2['Rent'].values.reshape(-1, 1)

In [11]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [12]:
from sklearn.preprocessing import StandardScaler

# Create a StandardScater model and fit it to the training data

### BEGIN SOLUTION
X_scaler = StandardScaler().fit(X_train)
y_scaler = StandardScaler().fit(y_train)
### END SOLUTION

In [13]:
### BEGIN SOLUTION
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
y_train_scaled = y_scaler.transform(y_train)
y_test_scaled = y_scaler.transform(y_test)
### END SOLUTION

In [14]:
### BEGIN SOLUTION
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train_scaled, y_train_scaled)
#model.fit(X_train, y_train)
### END SOLUTION

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [15]:
predictions = model.predict(X_test_scaled)
#predictions = model.predict(X_test)

In [16]:
from sklearn.metrics import mean_squared_error

MSE = mean_squared_error(y_test_scaled, predictions)
r2 = model.score(X_test_scaled, y_test_scaled)
### END SOLUTION

#MSE = mean_squared_error(y_test, predictions)
#r2 = model.score(X_test, y_test)
print(f"MSE: {MSE}, R2: {r2}")

MSE: 0.2443570506794922, R2: 0.8280830588800089

In [17]:
linear_model = open("linear_model.pkl","wb")

In [18]:
import pickle
pickle.dump(model, linear_model)

In [19]:
linear_model.close()