In [14]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np

In [15]:
data = pd.read_csv("units_final.csv")
data.columns

Index(['Unnamed: 0', 'Property_Code', 'Unit_Code', 'City', 'State', 'Rent',
       'SQFT', 'Rent_Ready', 'Bedrooms', 'Bathrooms'],
      dtype='object')

In [16]:
data.drop("Unnamed: 0",axis=1,inplace=True)

In [17]:
data

,Property_Code,Unit_Code,City,State,Rent,SQFT,Rent_Ready,Bedrooms,Bathrooms
0,ce,C0007A,Fairfield,OH,770,675,1,1,1.0
1,ce,C0007B,Fairfield,OH,770,675,1,1,1.0
2,ce,C0007C,Fairfield,OH,780,675,1,1,1.0
3,ce,C0007D,Fairfield,OH,780,675,1,1,1.0
4,ce,C0007E,Fairfield,OH,770,675,1,1,1.0
5,ce,C0007F,Fairfield,OH,685,675,1,1,1.0
6,ce,C0007G,Fairfield,OH,780,675,1,1,1.0
7,ce,C0007H,Fairfield,OH,780,675,1,1,1.0
8,ce,C0007J,Fairfield,OH,790,675,0,1,1.0
9,ce,C0007K,Fairfield,OH,720,675,1,1,1.0
10,ce,C0007L,Fairfield,OH,790,675,1,1,1.0
11,ce,C0007M,Fairfield,OH,790,675,1,1,1.0
12,ce,C5269A,Fairfield,OH,675,675,1,1,1.0
13,ce,C5269B,Fairfield,OH,675,675,1,1,1.0
14,ce,C5269C,Fairfield,OH,675,675,1,1,1.0
15,ce,C5269D,Fairfield,OH,675,675,1,1,1.0
16,ce,C5269E,Fairfield,OH,685,675,1,1,1.0
17,ce,C5269F,Fairfield,OH,685,675,1,1,1.0
18,ce,C5269G,Fairfield,OH,685,675,0,1,1.0
19,ce,C5269H,Fairfield,OH,780,675,1,1,1.0
20,ce,C5269J,Fairfield,OH,695,675,1,1,1.0
21,ce,C5269K,Fairfield,OH,695,675,1,1,1.0
22,ce,C5269L,Fairfield,OH,695,675,1,1,1.0
23,ce,C5269M,Fairfield,OH,695,675,1,1,1.0
24,ce,C5271A,Fairfield,OH,675,675,1,1,1.0
25,ce,C5271B,Fairfield,OH,675,675,1,1,1.0
26,ce,C5271C,Fairfield,OH,675,675,0,1,1.0
27,ce,C5271D,Fairfield,OH,770,675,1,1,1.0
28,ce,C5271E,Fairfield,OH,685,675,1,1,1.0
29,ce,C5271F,Fairfield,OH,685,675,1,1,1.0
...,...,...,...,...,...,...,...,...,...
1740,sh,FT5892E,Toledo,OH,685,984,1,2,1.0
1741,sh,FT5892F,Toledo,OH,685,984,1,2,1.0
1742,sh,FT5892G,Toledo,OH,685,984,1,2,1.0
1743,sh,FT5892H,Toledo,OH,685,984,1,2,1.0
1744,sh,FT5892I,Toledo,OH,685,984,0,2,1.0
1745,sh,FT5892J,Toledo,OH,685,984,1,2,1.0
1746,sh,FT5892K,Toledo,OH,685,984,1,2,1.0
1747,sh,FT5892L,Toledo,OH,685,984,0,2,1.0
1748,sh,FT5906A,Toledo,OH,650,932,0,2,1.0
1749,sh,FT5906B,Toledo,OH,650,932,1,2,1.0
1750,sh,FT5906C,Toledo,OH,650,932,0,2,1.0
1751,sh,FT5906D,Toledo,OH,650,932,1,2,1.0
1752,sh,FT5906E,Toledo,OH,650,932,1,2,1.0
1753,sh,FT5906F,Toledo,OH,650,932,1,2,1.0
1754,sh,FT5906G,Toledo,OH,650,932,1,2,1.0
1755,sh,FT5906H,Toledo,OH,650,932,1,2,1.0
1756,sh,FT5906I,Toledo,OH,650,932,1,2,1.0
1757,sh,FT5906J,Toledo,OH,650,932,0,2,1.0
1758,sh,FT5906K,Toledo,OH,650,932,0,2,1.0
1759,sh,FT5906L,Toledo,OH,650,932,1,2,1.0
1760,sh,WAIT-2A,Toledo,OH,599,932,0,2,NaN
1761,sh,WAIT-2B,Toledo,OH,609,950,0,2,NaN
1762,sh,WAIT-2C,Toledo,OH,620,984,0,2,NaN
1763,sh,WAIT-2D,Toledo,OH,641,963,0,2,NaN
1764,sh,WAIT-2E,Toledo,OH,652,950,0,2,NaN
1765,sh,WAIT-2TH,Toledo,OH,709,1006,0,2,NaN
1766,sh,WAIT-2V,Toledo,OH,995,1350,0,2,NaN
1767,sh,WAIT-3TA,Toledo,OH,735,1006,0,3,NaN
1768,sh,WAIT-3TB,Toledo,OH,840,1156,0,3,NaN
1769,sh,WAIT-3V,Toledo,OH,1010,1350,0,3,NaN

In [21]:
rent = data.dropna(subset=['Bathrooms'])
rent

,Property_Code,Unit_Code,City,State,Rent,SQFT,Rent_Ready,Bedrooms,Bathrooms
0,ce,C0007A,Fairfield,OH,770,675,1,1,1.0
1,ce,C0007B,Fairfield,OH,770,675,1,1,1.0
2,ce,C0007C,Fairfield,OH,780,675,1,1,1.0
3,ce,C0007D,Fairfield,OH,780,675,1,1,1.0
4,ce,C0007E,Fairfield,OH,770,675,1,1,1.0
5,ce,C0007F,Fairfield,OH,685,675,1,1,1.0
6,ce,C0007G,Fairfield,OH,780,675,1,1,1.0
7,ce,C0007H,Fairfield,OH,780,675,1,1,1.0
8,ce,C0007J,Fairfield,OH,790,675,0,1,1.0
9,ce,C0007K,Fairfield,OH,720,675,1,1,1.0
10,ce,C0007L,Fairfield,OH,790,675,1,1,1.0
11,ce,C0007M,Fairfield,OH,790,675,1,1,1.0
12,ce,C5269A,Fairfield,OH,675,675,1,1,1.0
13,ce,C5269B,Fairfield,OH,675,675,1,1,1.0
14,ce,C5269C,Fairfield,OH,675,675,1,1,1.0
15,ce,C5269D,Fairfield,OH,675,675,1,1,1.0
16,ce,C5269E,Fairfield,OH,685,675,1,1,1.0
17,ce,C5269F,Fairfield,OH,685,675,1,1,1.0
18,ce,C5269G,Fairfield,OH,685,675,0,1,1.0
19,ce,C5269H,Fairfield,OH,780,675,1,1,1.0
20,ce,C5269J,Fairfield,OH,695,675,1,1,1.0
21,ce,C5269K,Fairfield,OH,695,675,1,1,1.0
22,ce,C5269L,Fairfield,OH,695,675,1,1,1.0
23,ce,C5269M,Fairfield,OH,695,675,1,1,1.0
24,ce,C5271A,Fairfield,OH,675,675,1,1,1.0
25,ce,C5271B,Fairfield,OH,675,675,1,1,1.0
26,ce,C5271C,Fairfield,OH,675,675,0,1,1.0
27,ce,C5271D,Fairfield,OH,770,675,1,1,1.0
28,ce,C5271E,Fairfield,OH,685,675,1,1,1.0
29,ce,C5271F,Fairfield,OH,685,675,1,1,1.0
...,...,...,...,...,...,...,...,...,...
1730,sh,FT5880K,Toledo,OH,685,984,1,2,1.0
1731,sh,FT5880L,Toledo,OH,685,984,1,2,1.0
1732,sh,FT5880M,Toledo,OH,685,984,1,2,1.0
1733,sh,FT5880N,Toledo,OH,685,984,1,2,1.0
1734,sh,FT5880O,Toledo,OH,685,984,1,2,1.0
1735,sh,FT5880P,Toledo,OH,685,984,1,2,1.0
1736,sh,FT5892A,Toledo,OH,685,984,1,2,1.0
1737,sh,FT5892B,Toledo,OH,685,984,0,2,1.0
1738,sh,FT5892C,Toledo,OH,685,984,0,2,1.0
1739,sh,FT5892D,Toledo,OH,685,984,0,2,1.0
1740,sh,FT5892E,Toledo,OH,685,984,1,2,1.0
1741,sh,FT5892F,Toledo,OH,685,984,1,2,1.0
1742,sh,FT5892G,Toledo,OH,685,984,1,2,1.0
1743,sh,FT5892H,Toledo,OH,685,984,1,2,1.0
1744,sh,FT5892I,Toledo,OH,685,984,0,2,1.0
1745,sh,FT5892J,Toledo,OH,685,984,1,2,1.0
1746,sh,FT5892K,Toledo,OH,685,984,1,2,1.0
1747,sh,FT5892L,Toledo,OH,685,984,0,2,1.0
1748,sh,FT5906A,Toledo,OH,650,932,0,2,1.0
1749,sh,FT5906B,Toledo,OH,650,932,1,2,1.0
1750,sh,FT5906C,Toledo,OH,650,932,0,2,1.0
1751,sh,FT5906D,Toledo,OH,650,932,1,2,1.0
1752,sh,FT5906E,Toledo,OH,650,932,1,2,1.0
1753,sh,FT5906F,Toledo,OH,650,932,1,2,1.0
1754,sh,FT5906G,Toledo,OH,650,932,1,2,1.0
1755,sh,FT5906H,Toledo,OH,650,932,1,2,1.0
1756,sh,FT5906I,Toledo,OH,650,932,1,2,1.0
1757,sh,FT5906J,Toledo,OH,650,932,0,2,1.0
1758,sh,FT5906K,Toledo,OH,650,932,0,2,1.0
1759,sh,FT5906L,Toledo,OH,650,932,1,2,1.0

In [23]:
rent.dtypes

Rent                   int64
SQFT                   int64
Rent_Ready             int64
Bedrooms               int64
Bathrooms            float64
Property_Code_ce       uint8
Property_Code_fh       uint8
Property_Code_mpg      uint8
Property_Code_sh       uint8
Unit_Code_1014A        uint8
Unit_Code_1014B        uint8
Unit_Code_1014C        uint8
Unit_Code_1014D        uint8
Unit_Code_1018A        uint8
Unit_Code_1018B        uint8
Unit_Code_1018C        uint8
Unit_Code_1018D        uint8
Unit_Code_1020A        uint8
Unit_Code_1020B        uint8
Unit_Code_1020C        uint8
Unit_Code_1020D        uint8
Unit_Code_1021A        uint8
Unit_Code_1021B        uint8
Unit_Code_1021C        uint8
Unit_Code_1021D        uint8
Unit_Code_1022A        uint8
Unit_Code_1022B        uint8
Unit_Code_1022C        uint8
Unit_Code_1022D        uint8
Unit_Code_1025A        uint8
                      ...
Unit_Code_WC5960M      uint8
Unit_Code_WC5960N      uint8
Unit_Code_WC5966A      uint8
Unit_Code_WC5966B      uint8
Unit_Code_WC5966C      uint8
Unit_Code_WC5966D      uint8
Unit_Code_WC5966E      uint8
Unit_Code_WC5966F      uint8
Unit_Code_WC5966G      uint8
Unit_Code_WC5966H      uint8
Unit_Code_WC5966I      uint8
Unit_Code_WC5966J      uint8
Unit_Code_WC5970A      uint8
Unit_Code_WC5970B      uint8
Unit_Code_WC5970C      uint8
Unit_Code_WC5970D      uint8
Unit_Code_WC5970E      uint8
Unit_Code_WC5970F      uint8
Unit_Code_WC5970G      uint8
Unit_Code_WC5970H      uint8
Unit_Code_WC5970I      uint8
Unit_Code_WC5970J      uint8
Unit_Code_WC5970K      uint8
Unit_Code_WC5970L      uint8
City_Columbus          uint8
City_Fairfield         uint8
City_Mt. Prospect      uint8
City_Toledo            uint8
State_IL               uint8
State_OH               uint8
Length: 1759, dtype: object

In [22]:
X = rent_df[["Apt Size", "BedRooms", "Bathroom", "chrent", "Property_Code"]]
y = rent_df["Rent"]
print(X.shape, y.shape)

,Rent,SQFT,Rent_Ready,Bedrooms,Bathrooms,Property_Code_ce,Property_Code_fh,Property_Code_mpg,Property_Code_sh,Unit_Code_1014A,...,Unit_Code_WC5970I,Unit_Code_WC5970J,Unit_Code_WC5970K,Unit_Code_WC5970L,City_Columbus,City_Fairfield,City_Mt. Prospect,City_Toledo,State_IL,State_OH
0,770,675,1,1,1.0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
1,770,675,1,1,1.0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
2,780,675,1,1,1.0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
3,780,675,1,1,1.0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
4,770,675,1,1,1.0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1

In [10]:
X = data2[['Vacancy', 'SQFT', 'BedRooms', 'Bathroom', 'Property_Code_ce', 'Property_Code_fh','Property_Code_mpg', 'Property_Code_sh']]
y = data2['Rent'].values.reshape(-1, 1)

In [11]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [12]:
from sklearn.preprocessing import StandardScaler

# Create a StandardScater model and fit it to the training data

### BEGIN SOLUTION
X_scaler = StandardScaler().fit(X_train)
y_scaler = StandardScaler().fit(y_train)
### END SOLUTION

In [13]:
### BEGIN SOLUTION
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
y_train_scaled = y_scaler.transform(y_train)
y_test_scaled = y_scaler.transform(y_test)
### END SOLUTION

In [14]:
### BEGIN SOLUTION
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train_scaled, y_train_scaled)
#model.fit(X_train, y_train)
### END SOLUTION

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [15]:
predictions = model.predict(X_test_scaled)
#predictions = model.predict(X_test)

In [16]:
from sklearn.metrics import mean_squared_error

MSE = mean_squared_error(y_test_scaled, predictions)
r2 = model.score(X_test_scaled, y_test_scaled)
### END SOLUTION

#MSE = mean_squared_error(y_test, predictions)
#r2 = model.score(X_test, y_test)
print(f"MSE: {MSE}, R2: {r2}")

MSE: 0.2443570506794922, R2: 0.8280830588800089

In [17]:
linear_model = open("linear_model.pkl","wb")

In [18]:
import pickle
pickle.dump(model, linear_model)

In [19]:
linear_model.close()