In [6]:
import os 
import pandas as pd

In [13]:
filepath = os.path.join("Tenant_History.csv")
df = pd.read_csv(filepath, skiprows=1)
df.head(100)

,ResTenantHistory,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,Property_Code,Ref_Property_ID,Date,Tenant_Code,Ext_Ref_Tenant_Id,Event,DateOccurred,Unit_Code,Ref_Unit_Id,DateApply,...,DateNotice,RentedEvent,UnRentedEvent,Status,Rent,Deposit,Sqft,Notes,Reason,MTM
1,sh,NaN,11/18/2016,t0031357,NaN,Deposit Change,11/22/2016,WC5956H,NaN,11/16/2016,...,NaN,0,0,2,641,99,0,NaN,NaN,0
2,ce,NaN,11/22/2016,t0031261,NaN,Deposit Change,11/22/2016,M0008A,NaN,11/3/2016,...,NaN,0,0,0,728,708,0,NaN,NaN,0
3,ce,NaN,11/18/2016,t0031367,NaN,Deposit Change,11/22/2016,M0008A,NaN,11/17/2016,...,NaN,0,0,9,728,50,0,NaN,NaN,0
4,ce,NaN,11/18/2016,t0031350,NaN,Deposit Change,11/22/2016,M0012B,NaN,11/16/2016,...,NaN,0,0,9,888,50,0,NaN,NaN,0
5,sh,NaN,11/22/2016,t0031408,NaN,Submit Application,11/22/2016,WAIT-3TA,NaN,11/22/2016,...,NaN,0,0,6,735,0,0,NaN,NaN,0
6,ce,NaN,11/22/2016,t0030981,NaN,Adjust Move In Dates,11/22/2016,C5252B,NaN,9/29/2016,...,NaN,0,0,2,708,99,0,NaN,NaN,0
7,ce,NaN,11/22/2016,t0031409,NaN,Submit Application,11/22/2016,M0005D,NaN,11/22/2016,...,NaN,0,0,6,0,0,0,NaN,NaN,0
8,ce,NaN,11/22/2016,t0031409,NaN,Application Approved,11/22/2016,M0005D,NaN,11/22/2016,...,NaN,-1,0,6,0,0,0,NaN,Changed Mind,0
9,ce,NaN,11/22/2016,t0031409,NaN,Lease Signed,11/22/2016,M0005D,NaN,11/22/2016,...,NaN,0,0,2,0,0,0,NaN,NaN,0
10,ce,NaN,11/22/2016,t0031352,NaN,Adjust Move In Dates,11/22/2016,C0007A,NaN,11/16/2016,...,NaN,0,0,2,657,0,0,NaN,NaN,0
11,sh,NaN,11/23/2016,t0031354,NaN,Deposit Change,11/23/2016,TH5818,NaN,11/16/2016,...,NaN,0,0,6,735,99,0,NaN,NaN,0
12,sh,NaN,11/20/2016,t0031354,NaN,Lease Signed,11/23/2016,TH5818,NaN,11/16/2016,...,NaN,0,0,2,735,99,0,NaN,NaN,0
13,sh,NaN,11/22/2016,t0031354,NaN,Move In,11/23/2016,TH5818,NaN,11/16/2016,...,NaN,0,0,0,735,99,0,Move In,NaN,0
14,sh,NaN,11/23/2016,t0023536,NaN,Adjust Moveout Dates,11/23/2016,TH5967,NaN,10/9/2014,...,10/15/2016,0,0,3,721,99,0,Eviction,NaN,0
15,ce,NaN,11/18/2016,t0031352,NaN,Deposit Change,11/23/2016,C0007A,NaN,11/16/2016,...,NaN,0,0,2,657,99,0,NaN,NaN,0
16,sh,NaN,11/22/2016,t0031371,NaN,Move In,11/23/2016,WC5956S,NaN,11/18/2016,...,NaN,0,0,0,641,0,0,Move In,NaN,0
17,sh,NaN,11/23/2016,t0031380,NaN,Application Denied,11/23/2016,WAIT-3TA,NaN,11/19/2016,...,NaN,0,0,9,735,0,0,NaN,credit*,0
18,sh,NaN,11/23/2016,t0031381,NaN,Lease Signed,11/23/2016,TH5834,NaN,11/19/2016,...,NaN,0,0,2,709,0,0,NaN,NaN,0
19,ce,NaN,11/23/2016,t0031318,NaN,Deposit Change,11/23/2016,M0018F,NaN,10/27/2016,...,NaN,0,0,0,0,99,0,NaN,NaN,0
20,sh,NaN,11/23/2016,t0022208,NaN,Adjust Lease End Dates,11/23/2016,TH5832,NaN,7/11/2014,...,NaN,0,0,0,675,99,0,NaN,NaN,0
21,sh,NaN,11/23/2016,t0025756,NaN,Adjust Lease End Dates,11/23/2016,FT5880B,NaN,7/20/2015,...,NaN,0,0,0,623,99,0,NaN,NaN,0
22,sh,NaN,11/23/2016,t0031330,NaN,Adjust Move In Dates,11/23/2016,SH5823,NaN,11/14/2016,...,NaN,0,0,2,735,22.5,0,NaN,NaN,0
23,sh,NaN,11/23/2016,t0024635,NaN,Adjust Lease End Dates,11/23/2016,WC5933K,NaN,2/10/2015,...,NaN,0,0,0,643,99,0,NaN,NaN,0
24,sh,NaN,11/23/2016,t0041091,NaN,Submit Application,11/23/2016,WAIT-3V,NaN,11/23/2016,...,NaN,0,0,6,1010,0,0,NaN,NaN,0
25,sh,NaN,11/23/2016,t0041091,NaN,Application Approved,11/23/2016,WAIT-3V,NaN,11/23/2016,...,NaN,-1,0,6,1010,0,0,NaN,changed mind,0
26,sh,NaN,11/23/2016,t0026151,NaN,Adjust Lease End Dates,11/23/2016,AC1043,NaN,9/23/2015,...,NaN,0,0,0,1000,399,0,NaN,NaN,0
27,sh,NaN,11/23/2016,t0026151,NaN,Adjust Lease End Dates,11/23/2016,AC1043,NaN,9/23/2015,...,NaN,0,0,0,1000,399,0,NaN,NaN,0
28,ce,NaN,11/23/2016,t0031351,NaN,Adjust Move In Dates,11/23/2016,C0011D,NaN,11/16/2016,...,NaN,0,0,2,749,0,0,NaN,NaN,0
29,ce,NaN,11/23/2016,t0031362,NaN,Adjust Move In Dates,11/23/2016,C0003J,NaN,11/17/2016,...,NaN,0,0,2,769,0,0,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,ce,NaN,11/28/2016,t0014028,NaN,Adjust Moveout Dates,11/28/2016,S1500-4B,NaN,11/1/2012,...,9/1/2016,0,0,4,759,150,0,Transfer within Community,NaN,-1
71,ce,NaN,11/26/2016,t0014028,NaN,Move Out,11/28/2016,S1500-4B,NaN,11/1/2012,...,9/1/2016,0,0,1,759,150,0,Move Out,NaN,-1
72,ce,NaN,11/28/2016,t0026847,NaN,Adjust Moveout Dates,11/28/2016,C5305E,NaN,10/29/2015,...,9/28/2016,0,0,4,629,99,0,Transfer within Community,NaN,0
73,ce,NaN,11/28/2016,t0026847,NaN,Adjust Moveout Dates,11/28/2016,C5305E,NaN,10/29/2015,...,9/28/2016,0,0,4,629,99,0,Transfer within Community,NaN,0
74,ce,NaN,11/26/2016,t0026847,NaN,Move Out,11/28/2016,C5305E,NaN,10/29/2015,...,9/28/2016,0,0,1,629,99,0,Move Out,NaN,0
75,ce,NaN,11/28/2016,t0025722,NaN,Adjust Moveout Dates,11/28/2016,C5252H,NaN,7/16/2015,...,9/1/2016,0,0,4,719,99,0,Cannot Afford Apartment,NaN,0
76,ce,NaN,11/26/2016,t0025722,NaN,Move Out,11/28/2016,C5252H,NaN,7/16/2015,...,9/1/2016,0,0,1,719,99,0,Move Out,NaN,0
77,sh,NaN,11/28/2016,t0031330,NaN,Rent Change,11/28/2016,TT1211,NaN,11/14/2016,...,NaN,0,0,2,995,22.5,0,NaN,NaN,0
78,sh,NaN,11/28/2016,t0031330,NaN,Assign Unit (From SH5823 to TT1211),11/28/2016,TT1211,NaN,11/14/2016,...,NaN,0,0,2,995,22.5,0,NaN,NaN,0
79,ce,NaN,11/28/2016,t0031409,NaN,Deposit Change,11/28/2016,M0005D,NaN,11/22/2016,...,NaN,0,0,2,0,99,0,NaN,NaN,0
80,ce,NaN,11/28/2016,t0031377,NaN,Deposit Change,11/28/2016,C5305E,NaN,11/19/2016,...,NaN,0,0,2,0,99,0,NaN,NaN,0
81,ce,NaN,11/28/2016,t0031392,NaN,Deposit Change,11/28/2016,M0036D,NaN,11/21/2016,...,NaN,0,0,2,0,99,0,NaN,NaN,0
82,ce,NaN,11/28/2016,t0031393,NaN,Deposit Change,11/28/2016,C0003K,NaN,11/21/2016,...,NaN,0,0,9,0,50,0,NaN,NaN,0
83,ce,NaN,11/28/2016,t0031394,NaN,Deposit Change,11/28/2016,M0038C,NaN,11/21/2016,...,NaN,0,0,2,0,50,0,NaN,NaN,0
84,sh,NaN,11/23/2016,t0031371,NaN,Deposit Change,11/28/2016,WC5956S,NaN,11/18/2016,...,NaN,0,0,0,641,89,0,NaN,NaN,0
85,sh,NaN,11/23/2016,t0031330,NaN,Deposit Change,11/28/2016,TT1211,NaN,11/14/2016,...,NaN,0,0,2,995,99,0,NaN,NaN,0
86,sh,NaN,11/23/2016,t0031381,NaN,Deposit Change,11/28/2016,TH5834,NaN,11/19/2016,...,NaN,0,0,0,709,99,0,NaN,NaN,0
87,sh,NaN,11/23/2016,t0031408,NaN,Deposit Change,11/28/2016,WAIT-3TA,NaN,11/22/2016,...,NaN,0,0,6,735,22.5,0,NaN,NaN,0
88,sh,NaN,11/23/2016,t0031371,NaN,Deposit Change,11/28/2016,WC5956S,NaN,11/18/2016,...,NaN,0,0,0,641,188,0,NaN,NaN,0
89,sh,NaN,11/23/2016,t0031371,NaN,Deposit Change,11/28/2016,WC5956S,NaN,11/18/2016,...,NaN,0,0,0,641,641,0,NaN,NaN,0
90,sh,NaN,11/28/2016,t0023929,NaN,Cancel Eviction,11/28/2016,WC5940F,NaN,12/5/2014,...,NaN,0,0,0,599,99,0,NaN,NaN,0
91,sh,NaN,11/28/2016,t0024791,NaN,Notice Given,11/28/2016,WC5966A,NaN,3/7/2015,...,11/28/2016,0,0,4,638,99,0,Job Transfer,NaN,0
92,ce,NaN,11/28/2016,t0031431,NaN,Submit Application,11/28/2016,C5303J,NaN,11/28/2016,...,NaN,0,0,6,667,0,0,NaN,NaN,0
93,ce,NaN,11/28/2016,t0031431,NaN,Application Approved,11/28/2016,C5303J,NaN,11/28/2016,...,NaN,-1,0,6,667,0,0,NaN,Changed Mind,0
94,ce,NaN,11/28/2016,t0031431,NaN,Lease Signed,11/28/2016,C5303J,NaN,11/28/2016,...,NaN,0,0,2,667,0,0,NaN,NaN,0
95,ce,NaN,11/28/2016,t0031432,NaN,Submit Application,11/28/2016,S1458C,NaN,11/28/2016,...,NaN,0,0,6,0,0,0,NaN,NaN,0
96,ce,NaN,11/28/2016,t0031432,NaN,Application Approved,11/28/2016,S1458C,NaN,11/28/2016,...,NaN,-1,0,6,0,0,0,NaN,Changed Mind,0
97,ce,NaN,11/28/2016,t0031432,NaN,Lease Signed,11/28/2016,S1458C,NaN,11/28/2016,...,NaN,0,0,2,0,0,0,NaN,NaN,0
98,ce,NaN,11/28/2016,t0030226,NaN,Adjust Moveout Dates,11/28/2016,C5324M,NaN,7/22/2016,...,10/24/2016,0,0,3,674,674,0,Eviction,NaN,0
99,sh,NaN,11/28/2016,t0027731,NaN,Lease Renewal,11/28/2016,SH5815,NaN,12/30/2015,...,NaN,0,0,0,825,824,0,NaN,NaN,0

In [10]:
df.groupby("Unit_Code").count()

,Unit_Code,Ref_Unit_Id,Property_Code,Ref_Property_ID,Record_Type,Date,Rent,Deposit,Sqft,FSetAside,UtilityAllowance,ContractRent,RoomId,BedId,NewRentsId
RDBasicRent,,,,,,,,,,,,,,,
0,11843,0,11843,0,11843,11843,11843,11843,11843,11843,11843,11843,0,0,0